flows_raspberrypi.json
[{"id":"ea8bb60c.1fe138","type":"tab","label":"Scenari / 2","disabled":false,"info":""},{"id":"9c7b3d21.9cf5c","type":"tab","label":"Pulsanti / 2","disabled":false,"info":""},{"id":"73e11c37.b818a4","type":"tab","label":"Interruttori fisici / 2","disabled":false,"info":""},{"id":"39d86f60.6759e","type":"tab","label":"NoIP update","disabled":false,"info":""},{"id":"27c2708b.31af58","type":"tab","label":"Initialize","disabled":false,"info":""},{"id":"435702b7.02c66c","type":"tab","label":"Control","disabled":true,"info":""},{"id":"a625bc2b.d1a6b","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"3be14c38.5b29e4","type":"tab","label":"Mobile Voice","disabled":false,"info":""},{"id":"26359a5a.348ffe","type":"ui_group","z":"","name":"Il Mola","tab":"591ba94f.6d6af","disp":false,"width":"6","collapse":false},{"id":"89eb750a.c6309","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e42f3aa6.b6dc68","type":"ui_tab","z":"","name":"Casa Marco","icon":"dashboard"},{"id":"8c7fe239.7034d","type":"ui_group","z":"","name":"Interruttori","tab":"e42f3aa6.b6dc68","disp":true,"width":"6","collapse":true},{"id":"21effcb8.0e646c","type":"ui_group","z":"","name":"Scenari","tab":"e42f3aa6.b6dc68","disp":true,"width":"6","collapse":true},{"id":"b9a9a42.27c5d58","type":"ui_group","z":"","name":"Termometri","tab":"e42f3aa6.b6dc68","disp":true,"width":"6","collapse":true},{"id":"591ba94f.6d6af","type":"ui_tab","z":"","name":"Logo","icon":"dashboard"},{"id":"2c5b267e.f99e6a","type":"ui_group","z":"","name":"Admin tab","tab":"1c351ce1.4f93f3","order":2,"disp":false,"width":"6","collapse":false},{"id":"1c351ce1.4f93f3","type":"ui_tab","z":"","name":"Administration","icon":"dashboard"},{"id":"fcff10ac.258e7","type":"ui_tab","z":"","name":"Irrigazione","icon":"dashboard"},{"id":"d199fbc0.15e7e8","type":"ui_group","z":"","name":"Stat","tab":"177e5eb8.3ffcc1","disp":false,"width":"6"},{"id":"177e5eb8.3ffcc1","type":"ui_tab","z":"","name":"Stat","icon":"dashboard"},{"id":"1926a413.b9993c","type":"ui_group","z":"","name":"Stat","tab":"9e93c15c.6f06f","order":2,"disp":false,"width":"6"},{"id":"8d5a2ab2.3c8778","type":"ui_group","z":"","name":"Ora","tab":"9e93c15c.6f06f","disp":false,"width":"6"},{"id":"a55f89a2.3beba8","type":"ui_group","z":"","name":"Stat1","tab":"9e93c15c.6f06f","order":1,"disp":false,"width":"6"},{"id":"86ee04a6.3d0948","type":"ui_group","z":"","name":"ON OFF scheduler","tab":"9e93c15c.6f06f","disp":false,"width":"6"},{"id":"f295a3d7.b396","type":"ui_group","z":"","name":"Stat2","tab":"9e93c15c.6f06f","disp":false,"width":"6"},{"id":"9e93c15c.6f06f","type":"ui_tab","z":"","name":"Schedulers","icon":"dashboard"},{"id":"da8cdbf2.32dc88","type":"ui_group","z":"","name":"ON OFF scheduler","tab":"de2bf264.e1741","disp":false,"width":"6"},{"id":"de2bf264.e1741","type":"ui_tab","z":"","name":"Schedulers","icon":"dashboard","order":3},{"id":"8c72300b.98c51","type":"ui_group","z":"","name":"ON OFF scheduler","tab":"4993bc08.0ae044","disp":false,"width":"6"},{"id":"4993bc08.0ae044","type":"ui_tab","z":"","name":"Schedulers","icon":"dashboard","order":3},{"id":"b4e80e87.5bb5","type":"profile","z":"","name":"","time1":"","temp1":"","time2":"","temp2":"","time3":"","temp3":"","time4":"","temp4":"","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"e8e6bb16.ad2d38","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"","longitude":""},{"id":"9a50e6eb.b8abb8","type":"ui_group","z":"","name":"Stat","tab":"3ab23d04.09de8a","disp":false,"width":"6"},{"id":"3ab23d04.09de8a","type":"ui_tab","z":"","name":"Stat","icon":"dashboard"},{"id":"8b75eac8.e93f88","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.113","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6fccc8a5.e7ddb8","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"21effcb8.0e646c","order":0,"width":0,"height":0,"passthru":true,"label":"A letto","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":160,"wires":[["3d8ae040.9d6c6","60130491.2f512c"]]},{"id":"2c7e944a.636ae4","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"21effcb8.0e646c","order":0,"width":0,"height":0,"passthru":true,"label":"Amici in casa","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":560,"wires":[["a40ca500.391538","78b1c820.3dd7c8"]]},{"id":"3d8ae040.9d6c6","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["85c8eb83.043d58"],"x":535,"y":160,"wires":[]},{"id":"60130491.2f512c","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":220,"wires":[["62a0f3ac.46c714","b5276278.d60c1"]]},{"id":"62a0f3ac.46c714","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["3cccf702.4ea49"],"x":555,"y":220,"wires":[]},{"id":"b5276278.d60c1","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":280,"wires":[["a67fe50e.b27cf8","ae1da214.d24db"]]},{"id":"a67fe50e.b27cf8","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["21d58317.d004c4"],"x":555,"y":280,"wires":[]},{"id":"ae1da214.d24db","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":340,"wires":[["9f0647bb.5284","2a37cec6.a4030a"]]},{"id":"9f0647bb.5284","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["3bbd4157.a38a26"],"x":555,"y":340,"wires":[]},{"id":"2a37cec6.a4030a","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":400,"wires":[["8b10ad39.7c831"]]},{"id":"8b10ad39.7c831","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["d73a6e5a.72bef"],"x":555,"y":400,"wires":[]},{"id":"a40ca500.391538","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["e7047ba8.a5633"],"x":575,"y":560,"wires":[]},{"id":"9e411106.c77d","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["39aa593f.a4c0e6"],"x":575,"y":620,"wires":[]},{"id":"799f1ff4.03b4c","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["e405696c.357278"],"x":575,"y":680,"wires":[]},{"id":"5a1396f7.55688","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["f221f4a9.fb9838"],"x":575,"y":740,"wires":[]},{"id":"78b1c820.3dd7c8","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":620,"wires":[["9e411106.c77d","2f8ee9e4.5aeb6e"]]},{"id":"2f8ee9e4.5aeb6e","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":680,"wires":[["799f1ff4.03b4c","e6d4d8a0.054a8"]]},{"id":"e6d4d8a0.054a8","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":740,"wires":[["5a1396f7.55688"]]},{"id":"c976d836.3b1eb8","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"21effcb8.0e646c","order":0,"width":0,"height":0,"passthru":true,"label":"Tv Serale","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":680,"y":160,"wires":[["5f4a5912.60b1b","bb979739.ec699"]]},{"id":"5f4a5912.60b1b","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["fb1e63eb.bcae8"],"x":1015,"y":160,"wires":[]},{"id":"bb979739.ec699","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":220,"wires":[["e4a8907b.edd1","d5974649.125ea"]]},{"id":"e4a8907b.edd1","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["85c8eb83.043d58"],"x":1015,"y":220,"wires":[]},{"id":"d5974649.125ea","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":280,"wires":[["3d26113f.90816e","abd66f2.b918f1"]]},{"id":"3d26113f.90816e","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["3cccf702.4ea49"],"x":1015,"y":280,"wires":[]},{"id":"abd66f2.b918f1","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":340,"wires":[["3047f6c9.0a9292","ac5176ee.c2c298"]]},{"id":"3047f6c9.0a9292","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["21d58317.d004c4"],"x":1015,"y":340,"wires":[]},{"id":"ac5176ee.c2c298","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":400,"wires":[["9f832e40.330bf"]]},{"id":"9f832e40.330bf","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["3bbd4157.a38a26"],"x":1015,"y":400,"wires":[]},{"id":"93eff9c.bd80588","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"21effcb8.0e646c","order":0,"width":0,"height":0,"passthru":true,"label":"Intrattenimento","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":860,"y":580,"wires":[["52f668e7.22ae28","6de4065b.9c89e"]]},{"id":"52f668e7.22ae28","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["e7047ba8.a5633"],"x":1175,"y":580,"wires":[]},{"id":"149d8a98.8bd305","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["39aa593f.a4c0e6"],"x":1175,"y":640,"wires":[]},{"id":"3ef553e2.c22614","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["e405696c.357278"],"x":1175,"y":700,"wires":[]},{"id":"5e0d90fb.d46bf8","type":"link out","z":"ea8bb60c.1fe138","name":"","links":["3bbd4157.a38a26"],"x":1175,"y":760,"wires":[]},{"id":"6de4065b.9c89e","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":640,"wires":[["149d8a98.8bd305","8bc8a679.1c0d8"]]},{"id":"8bc8a679.1c0d8","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":700,"wires":[["3ef553e2.c22614","cd0bbe7e.417e78"]]},{"id":"cd0bbe7e.417e78","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":760,"wires":[["5e0d90fb.d46bf8"]]},{"id":"38a5df94.9b0578","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Sala 1","pin":"12","set":false,"level":"0","freq":"","out":"out","x":1250,"y":140,"wires":[]},{"id":"de8717e.ea08b68","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Sala 2","pin":"16","set":false,"level":"0","freq":"","out":"out","x":1250,"y":360,"wires":[]},{"id":"e2308c9.aea2ff","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Sala 3","pin":"18","set":false,"level":"0","freq":"","out":"out","x":1250,"y":580,"wires":[]},{"id":"41659d08.df801c","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Sala 4","pin":"26","set":false,"level":"0","freq":"","out":"out","x":1250,"y":920,"wires":[]},{"id":"ce791596.df37c8","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Luce esterna","pin":"24","set":false,"level":"0","freq":"","out":"out","x":1230,"y":1220,"wires":[]},{"id":"a8588be.8b06f78","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Presa comandata","pin":"22","set":false,"level":"0","freq":"","out":"out","x":1210,"y":1560,"wires":[]},{"id":"85cb82a7.71acc","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-sala-1","links":["ba416c03.d96328","d1dd5f68.0abb1","7455bdb2.614014"],"x":1075,"y":140,"wires":[["38a5df94.9b0578"]]},{"id":"2b039844.2a5fb","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-sala-2","links":["63d480cd.7fc738"],"x":1075,"y":360,"wires":[["de8717e.ea08b68"]]},{"id":"f204e983.0a9108","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-sala-3","links":["2d713d36.131752"],"x":1075,"y":580,"wires":[["e2308c9.aea2ff"]]},{"id":"67b247aa.8d2688","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-sala-4","links":["5a55578.a18ada8"],"x":1075,"y":920,"wires":[["41659d08.df801c"]]},{"id":"8d559322.08623","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-luceesterna","links":["9e46c80d.9fea3"],"x":1055,"y":1220,"wires":[["ce791596.df37c8"]]},{"id":"730277fb.31a148","type":"link in","z":"9c7b3d21.9cf5c","name":"","links":[],"x":1015,"y":1560,"wires":[["a8588be.8b06f78"]]},{"id":"210ba1a7.5ed1c6","type":"link in","z":"9c7b3d21.9cf5c","name":"pin-presacomandata","links":["77937326.557194"],"x":1015,"y":1560,"wires":[[]]},{"id":"3e484bcf.42273c","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"sala1","pt":"global","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["ba416c03.d96328","9b9eef0d.a02bf"]]},{"id":"2da0c692.b7714a","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"sala1","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["ba416c03.d96328","9b9eef0d.a02bf"]]},{"id":"ba416c03.d96328","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["85cb82a7.71acc"],"x":855,"y":140,"wires":[]},{"id":"e7047ba8.a5633","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala1-on","links":["99cf59e3.c74de","514fb938.95ae4","a40ca500.391538","52f668e7.22ae28","5888b177.69d12","b009b732.b3e8a","1a11f775.b16169","b9db962f.ba7c18","f57ce19b.49722","a212634f.a532f","79080978.525e08","ddc6b707.a31fb8"],"x":495,"y":140,"wires":[["3e484bcf.42273c"]]},{"id":"85c8eb83.043d58","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala1-off","links":["33618031.f124c","58f15294.f364f4","3d8ae040.9d6c6","e4a8907b.edd1","133cb0c2.2ad93f","163879cb.051506"],"x":495,"y":180,"wires":[["2da0c692.b7714a"]]},{"id":"83c4db87.7c379","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"sala1","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["33618031.f124c"],["99cf59e3.c74de"]]},{"id":"33618031.f124c","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["85c8eb83.043d58"],"x":735,"y":220,"wires":[]},{"id":"99cf59e3.c74de","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["e7047ba8.a5633"],"x":735,"y":260,"wires":[]},{"id":"4b7ae4b5.b72664","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala1-toggle","links":["b7cedb5e.c45588","d25cd945.35a948"],"x":495,"y":220,"wires":[["83c4db87.7c379","efeca422.0f2af8"]]},{"id":"21ca40d.7e792c","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"sala2","pt":"global","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["63d480cd.7fc738","aa568091.2a1188"]]},{"id":"d9089e7f.2dcfa8","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"sala2","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":400,"wires":[["63d480cd.7fc738","aa568091.2a1188"]]},{"id":"63d480cd.7fc738","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["2b039844.2a5fb"],"x":855,"y":360,"wires":[]},{"id":"39aa593f.a4c0e6","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala2-on","links":["149d8a98.8bd305","42d18ad.b6857f4","84742b8d.feb05","9e411106.c77d","fb908cdc.a6e81","4213d65.0619d28","622f04a2.e5392c","926ea7b8.caea48","f59440a1.0eb54","ea11151b.8e31b8","79080978.525e08","f4d75260.c3635"],"x":495,"y":360,"wires":[["21ca40d.7e792c"]]},{"id":"3cccf702.4ea49","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala2-off","links":["abcfd100.e647a8","f173526a.867468","62a0f3ac.46c714","3d26113f.90816e","133cb0c2.2ad93f","163879cb.051506"],"x":495,"y":400,"wires":[["d9089e7f.2dcfa8"]]},{"id":"64d93387.0a6194","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"sala2","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":440,"wires":[["abcfd100.e647a8"],["42d18ad.b6857f4"]]},{"id":"abcfd100.e647a8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["3cccf702.4ea49"],"x":735,"y":440,"wires":[]},{"id":"42d18ad.b6857f4","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["39aa593f.a4c0e6"],"x":735,"y":480,"wires":[]},{"id":"d952a2e4.d50388","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala2-toggle","links":["f0880831.af04f"],"x":495,"y":440,"wires":[["64d93387.0a6194"]]},{"id":"a31530cc.6c756","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"sala3","pt":"global","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":580,"wires":[["2d713d36.131752","a1fe22aa.1de69"]]},{"id":"ae62f2c2.8c2448","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"sala3","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":620,"wires":[["2d713d36.131752","a1fe22aa.1de69"]]},{"id":"2d713d36.131752","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["f204e983.0a9108"],"x":855,"y":580,"wires":[]},{"id":"e405696c.357278","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala3-on","links":["109cb698.99f561","4083a079.ebd87","799f1ff4.03b4c","3ef553e2.c22614","f5b1917.f2551f","50f33d13.eccf34","875bf82f.7d60e8","8d7bfde5.cbd75","ba1aab0c.514d08","75cea35c.1a861c","79080978.525e08","ab778720.40fcc8"],"x":495,"y":580,"wires":[["a31530cc.6c756"]]},{"id":"21d58317.d004c4","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala3-off","links":["37c49a67.ca2816","5bad4ee8.808318","a67fe50e.b27cf8","3047f6c9.0a9292","133cb0c2.2ad93f","163879cb.051506"],"x":495,"y":620,"wires":[["ae62f2c2.8c2448"]]},{"id":"c578cac2.858898","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"sala3","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":660,"wires":[["37c49a67.ca2816"],["109cb698.99f561"]]},{"id":"37c49a67.ca2816","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["21d58317.d004c4"],"x":735,"y":660,"wires":[]},{"id":"109cb698.99f561","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["e405696c.357278"],"x":735,"y":700,"wires":[]},{"id":"83c7075e.3c2bd8","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala3-toggle","links":["5da9713d.c0d408"],"x":495,"y":660,"wires":[["c578cac2.858898"]]},{"id":"f7ab1616.0d508","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"sala4","pt":"global","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":920,"wires":[["5a55578.a18ada8","2093beee.2c946a"]]},{"id":"16bd5864.074b4","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"sala4","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":960,"wires":[["5a55578.a18ada8","2093beee.2c946a"]]},{"id":"5a55578.a18ada8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["67b247aa.8d2688"],"x":855,"y":920,"wires":[]},{"id":"f221f4a9.fb9838","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala4-on","links":["2324e3ff.249a1c","2a4af602.c943a2","563f334b.79ced4","5a1396f7.55688","f0ccbdc5.aca59"],"x":675,"y":820,"wires":[["f7ab1616.0d508"]]},{"id":"3bbd4157.a38a26","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala4-off","links":["cda5fc08.692b8","8df484f4.01ee38","9f0647bb.5284","9f832e40.330bf","5e0d90fb.d46bf8","133cb0c2.2ad93f","163879cb.051506"],"x":495,"y":960,"wires":[["16bd5864.074b4"]]},{"id":"5dd71daf.bbacb4","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"sala4","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1000,"wires":[["cda5fc08.692b8"],["2a4af602.c943a2"]]},{"id":"cda5fc08.692b8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["3bbd4157.a38a26"],"x":735,"y":1000,"wires":[]},{"id":"2a4af602.c943a2","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["f221f4a9.fb9838"],"x":735,"y":1040,"wires":[]},{"id":"6a5b26a3.264168","type":"link in","z":"9c7b3d21.9cf5c","name":"action-sala4-toggle","links":["524ea3.d06c815c"],"x":495,"y":1000,"wires":[["5dd71daf.bbacb4"]]},{"id":"5cb0d650.eb45a","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1220,"wires":[["c6318eb4.64c41"]]},{"id":"5c2be418.7f517c","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1260,"wires":[["3e2b7c72.37aec4"]]},{"id":"c6318eb4.64c41","type":"function","z":"9c7b3d21.9cf5c","name":"luceesterna-on","func":"context.global.luceesterna=0\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1220,"wires":[["9e46c80d.9fea3","ab5e5f1b.1eb43"]]},{"id":"3e2b7c72.37aec4","type":"function","z":"9c7b3d21.9cf5c","name":"luceesterna-off","func":"context.global.luceesterna=1\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1260,"wires":[["9e46c80d.9fea3","ab5e5f1b.1eb43"]]},{"id":"9e46c80d.9fea3","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["8d559322.08623"],"x":855,"y":1220,"wires":[]},{"id":"a51fe233.e8baf","type":"link in","z":"9c7b3d21.9cf5c","name":"action-luceesterna-on","links":["90ba493e.74e9c8","8b46fd06.44ccc8"],"x":495,"y":1220,"wires":[["5cb0d650.eb45a"]]},{"id":"d370277.17a09d8","type":"link in","z":"9c7b3d21.9cf5c","name":"action-luceesterna-off","links":["89d9df9b.b79228","a7772cbd.49565"],"x":495,"y":1260,"wires":[["5c2be418.7f517c"]]},{"id":"6b51f37b.21a98c","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"luceesterna","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1300,"wires":[["89d9df9b.b79228"],["90ba493e.74e9c8"]]},{"id":"89d9df9b.b79228","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["d370277.17a09d8"],"x":735,"y":1300,"wires":[]},{"id":"90ba493e.74e9c8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["a51fe233.e8baf"],"x":735,"y":1340,"wires":[]},{"id":"3abc2aea.109b96","type":"link in","z":"9c7b3d21.9cf5c","name":"action-luceesterna-toggle","links":[],"x":495,"y":1300,"wires":[["6b51f37b.21a98c"]]},{"id":"e77081db.97c7a","type":"change","z":"9c7b3d21.9cf5c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1560,"wires":[["cd746a6.b45f418"]]},{"id":"e52ba7e2.5337f8","type":"change","z":"9c7b3d21.9cf5c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1600,"wires":[["1397ecb1.7e6533"]]},{"id":"cd746a6.b45f418","type":"function","z":"9c7b3d21.9cf5c","name":"presacomandata-on","func":"context.global.presacomandata=0\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1560,"wires":[["77937326.557194","b7748145.da5088"]]},{"id":"1397ecb1.7e6533","type":"function","z":"9c7b3d21.9cf5c","name":"presacomandata-off","func":"context.global.presacomandata=1\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1600,"wires":[["77937326.557194","b7748145.da5088"]]},{"id":"77937326.557194","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["210ba1a7.5ed1c6"],"x":915,"y":1560,"wires":[]},{"id":"fb1e63eb.bcae8","type":"link in","z":"9c7b3d21.9cf5c","name":"action-presacomandata-on","links":["5f4b920b.ce2fd4","9c232a6d.e738f8","5f4a5912.60b1b"],"x":495,"y":1560,"wires":[["e77081db.97c7a"]]},{"id":"d73a6e5a.72bef","type":"link in","z":"9c7b3d21.9cf5c","name":"action-presacomandata-off","links":["7979653.212541c","d02f8563.a14878","8b10ad39.7c831"],"x":495,"y":1600,"wires":[["e52ba7e2.5337f8"]]},{"id":"d0886455.0b461","type":"switch","z":"9c7b3d21.9cf5c","name":"Toggle","property":"presacomandata","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1640,"wires":[["7979653.212541c"],["5f4b920b.ce2fd4"]]},{"id":"7979653.212541c","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["d73a6e5a.72bef"],"x":735,"y":1640,"wires":[]},{"id":"5f4b920b.ce2fd4","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["fb1e63eb.bcae8"],"x":735,"y":1680,"wires":[]},{"id":"5dd64f9d.640b98","type":"link in","z":"9c7b3d21.9cf5c","name":"action-presacomandata-toggle","links":[],"x":495,"y":1640,"wires":[["d0886455.0b461"]]},{"id":"9b9eef0d.a02bf","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Sala 1","group":"8c7fe239.7034d","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1110,"y":200,"wires":[["ee19bab5.3abb18"]]},{"id":"aa568091.2a1188","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Sala 2","group":"8c7fe239.7034d","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1110,"y":420,"wires":[["8be78b2e.365f3"]]},{"id":"a1fe22aa.1de69","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Sala 3","group":"8c7fe239.7034d","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1110,"y":640,"wires":[["241b4f77.b64ad"]]},{"id":"2093beee.2c946a","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Sala 4","group":"8c7fe239.7034d","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1110,"y":980,"wires":[["20c88738.9e2bb8"]]},{"id":"ab5e5f1b.1eb43","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Luce esterna","group":"8c7fe239.7034d","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1110,"y":1280,"wires":[["463721cb.6cbbb"]]},{"id":"b7748145.da5088","type":"ui_switch","z":"9c7b3d21.9cf5c","name":"","label":"Presa comandata","group":"8c7fe239.7034d","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1090,"y":1640,"wires":[["80d2706c.9af1c"]]},{"id":"ee19bab5.3abb18","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":200,"wires":[["514fb938.95ae4"],["58f15294.f364f4"]]},{"id":"8be78b2e.365f3","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":420,"wires":[["fb908cdc.a6e81"],["f173526a.867468"]]},{"id":"241b4f77.b64ad","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":640,"wires":[["4083a079.ebd87"],["5bad4ee8.808318"]]},{"id":"20c88738.9e2bb8","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":980,"wires":[["563f334b.79ced4"],["8df484f4.01ee38"]]},{"id":"463721cb.6cbbb","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1280,"wires":[["8b46fd06.44ccc8"],["a7772cbd.49565"]]},{"id":"80d2706c.9af1c","type":"switch","z":"9c7b3d21.9cf5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1640,"wires":[["9c232a6d.e738f8"],["d02f8563.a14878"]]},{"id":"514fb938.95ae4","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["e7047ba8.a5633"],"x":1355,"y":180,"wires":[]},{"id":"58f15294.f364f4","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["85c8eb83.043d58"],"x":1355,"y":220,"wires":[]},{"id":"fb908cdc.a6e81","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["39aa593f.a4c0e6"],"x":1355,"y":400,"wires":[]},{"id":"f173526a.867468","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["3cccf702.4ea49"],"x":1355,"y":440,"wires":[]},{"id":"4083a079.ebd87","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["e405696c.357278"],"x":1355,"y":620,"wires":[]},{"id":"5bad4ee8.808318","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["21d58317.d004c4"],"x":1355,"y":660,"wires":[]},{"id":"563f334b.79ced4","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["f221f4a9.fb9838"],"x":1355,"y":960,"wires":[]},{"id":"8df484f4.01ee38","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["3bbd4157.a38a26"],"x":1355,"y":1000,"wires":[]},{"id":"8b46fd06.44ccc8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["a51fe233.e8baf"],"x":1355,"y":1260,"wires":[]},{"id":"a7772cbd.49565","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["d370277.17a09d8"],"x":1355,"y":1300,"wires":[]},{"id":"9c232a6d.e738f8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["fb1e63eb.bcae8"],"x":1355,"y":1620,"wires":[]},{"id":"d02f8563.a14878","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":["d73a6e5a.72bef"],"x":1355,"y":1660,"wires":[]},{"id":"e9dddfac.2b9c98","type":"sensor-ds18b20","z":"ea8bb60c.1fe138","name":"Termometro sala","topic":"","sensorid":"28-000007427f5f","timer":"30","repeat":true,"x":330,"y":880,"wires":[["7a73a681.5a5b9","c1cee646.5ceed8"]]},{"id":"4fd921ff.3187e","type":"link in","z":"9c7b3d21.9cf5c","name":"switch-presacomandata","links":["f17f0da5.cd7218"],"x":955,"y":1660,"wires":[["b7748145.da5088"]]},{"id":"2245228d.4dde5e","type":"link in","z":"9c7b3d21.9cf5c","name":"switch-luceesterna","links":[],"x":995,"y":1320,"wires":[["ab5e5f1b.1eb43"]]},{"id":"310f5277.7d9426","type":"link in","z":"9c7b3d21.9cf5c","name":"switch-sala3","links":["c55a8fb2.a7f6a","6243736f.6abca4"],"x":995,"y":660,"wires":[["a1fe22aa.1de69","781daf0.545195"]]},{"id":"bc989253.b9748","type":"link in","z":"9c7b3d21.9cf5c","name":"switch-sala2","links":["aacec195.9b4bd","abde8250.3a20e8"],"x":995,"y":440,"wires":[["aa568091.2a1188"]]},{"id":"40ee8eb7.a96b08","type":"link in","z":"9c7b3d21.9cf5c","name":"switch-sala1","links":["6a6bce42.3902e8","4fd5f255.b07814"],"x":995,"y":220,"wires":[["9b9eef0d.a02bf"]]},{"id":"f99b438e.45e7e8","type":"link out","z":"9c7b3d21.9cf5c","name":"","links":[],"x":775,"y":1200,"wires":[]},{"id":"dc050e64.353ee8","type":"link in","z":"ea8bb60c.1fe138","name":"scenery-aletto","links":["eeab2011.813858","f248d069.1be6d","db22985a.55179"],"x":175,"y":100,"wires":[["6fccc8a5.e7ddb8"]]},{"id":"19bc8912.ec9487","type":"link in","z":"ea8bb60c.1fe138","name":"scenery-tvserale","links":["3d2853a8.a85fe4"],"x":635,"y":120,"wires":[["c976d836.3b1eb8"]]},{"id":"3731785.f078108","type":"link in","z":"ea8bb60c.1fe138","name":"scenery-amiciincasa","links":["2bfb3b88.a9aed4"],"x":195,"y":500,"wires":[["2c7e944a.636ae4"]]},{"id":"f1089a60.93ab4","type":"link in","z":"ea8bb60c.1fe138","name":"scenery-intrattenimento","links":["b261d47c.c7f09"],"x":795,"y":520,"wires":[["93eff9c.bd80588"]]},{"id":"dc8248e8.a9e158","type":"inject","z":"ea8bb60c.1fe138","name":"","topic":"","payload":"LONG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["6fccc8a5.e7ddb8"]]},{"id":"62eb303c.b8f43","type":"rpi-gpio in","z":"73e11c37.b818a4","name":"Sala 2","pin":"11","intype":"up","debounce":"25","read":false,"x":210,"y":960,"wires":[["45418b80.56d624","b5e1120c.25572"]]},{"id":"5888b177.69d12","type":"link out","z":"73e11c37.b818a4","name":"","links":["e7047ba8.a5633"],"x":1215,"y":1000,"wires":[]},{"id":"84742b8d.feb05","type":"link out","z":"73e11c37.b818a4","name":"","links":["39aa593f.a4c0e6"],"x":1215,"y":1040,"wires":[]},{"id":"c6a9b5d8.6d39f8","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":1040,"wires":[["84742b8d.feb05"]]},{"id":"710050c0.2045c","type":"switch","z":"73e11c37.b818a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SHORT","vt":"str"},{"t":"eq","v":"MEDIUM","vt":"str"},{"t":"eq","v":"LONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":930,"y":1300,"wires":[["f99f1271.3f6a28"],[],["7562b008.18bc1","ba00cd4c.01b61","ba1a104f.fa8b8"],[]]},{"id":"f69ae453.e71a","type":"rpi-gpio in","z":"73e11c37.b818a4","name":"Sala 3","pin":"13","intype":"up","debounce":"25","read":false,"x":390,"y":1280,"wires":[["5185726d.10fc7c","10e434fd.49293b"]]},{"id":"a84924d5.3d7ef","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":1000,"wires":[["5888b177.69d12"]]},{"id":"f0880831.af04f","type":"link out","z":"73e11c37.b818a4","name":"","links":["d952a2e4.d50388"],"x":1215,"y":940,"wires":[]},{"id":"5da9713d.c0d408","type":"link out","z":"73e11c37.b818a4","name":"","links":["83c7075e.3c2bd8"],"x":1275,"y":1260,"wires":[]},{"id":"f99f1271.3f6a28","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":1260,"wires":[["5da9713d.c0d408"]]},{"id":"76949412.fa598c","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":940,"wires":[["f0880831.af04f"]]},{"id":"a8f756f.dd292a8","type":"rpi-gpio in","z":"73e11c37.b818a4","name":"Sala 1","pin":"7","intype":"up","debounce":"25","read":false,"x":210,"y":560,"wires":[["95a33ba7.dd7858","4dc69782.645ed8","99327847.e79308"]]},{"id":"106c82ff.4d4eb5","type":"switch","z":"73e11c37.b818a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SHORT","vt":"str"},{"t":"eq","v":"MEDIUM","vt":"str"},{"t":"eq","v":"LONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":940,"y":1600,"wires":[["dff284ab.f05f4","282ec124.eb447e"],[],["c703c3a4.f55a3","b38dba6d.e3e538","7baf93dd.1ac0cc","2647e64b.449bba"],[]]},{"id":"63debcda.fb9c14","type":"rpi-gpio in","z":"73e11c37.b818a4","name":"Sala 4","pin":"15","intype":"up","debounce":"25","read":false,"x":270,"y":1600,"wires":[["cb598c81.e17c1","47822c0e.178ee4"]]},{"id":"dff284ab.f05f4","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1580,"wires":[["524ea3.d06c815c"]]},{"id":"524ea3.d06c815c","type":"link out","z":"73e11c37.b818a4","name":"","links":["6a5b26a3.264168"],"x":1295,"y":1580,"wires":[]},{"id":"864677d0.c2b0f","type":"rpi-gpio out","z":"9c7b3d21.9cf5c","name":"Cancello","pin":"23","set":false,"level":"0","freq":"","out":"out","x":860,"y":1800,"wires":[]},{"id":"778152b9.df1534","type":"ui_button","z":"9c7b3d21.9cf5c","name":"","group":"8c7fe239.7034d","order":7,"width":0,"height":0,"passthru":false,"label":"Cancello","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":1800,"wires":[["100de3f9.607074"]]},{"id":"100de3f9.607074","type":"trigger","z":"9c7b3d21.9cf5c","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":700,"y":1800,"wires":[["864677d0.c2b0f"]]},{"id":"f3e04b2.63ed2b8","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"2c5b267e.f99e6a","order":4,"width":"0","height":"0","passthru":false,"label":"Restore temp data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":1060,"wires":[["9fd49929.84a608"]]},{"id":"3b68fbb9.61b694","type":"file","z":"ea8bb60c.1fe138","name":"","filename":"/tmp/chart.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1100,"y":1080,"wires":[[]]},{"id":"9fd49929.84a608","type":"file in","z":"ea8bb60c.1fe138","name":"","filename":"/tmp/chart.log","format":"utf8","sendError":true,"x":540,"y":1060,"wires":[["e6eeb6f6.b78a98"]]},{"id":"e6eeb6f6.b78a98","type":"json","z":"ea8bb60c.1fe138","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1000,"wires":[["c1cee646.5ceed8"]]},{"id":"2989c3c2.6bdd1c","type":"function","z":"ea8bb60c.1fe138","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":950,"y":1080,"wires":[["3b68fbb9.61b694"]]},{"id":"2547fbd4.62faf4","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"2c5b267e.f99e6a","order":3,"width":"0","height":"0","passthru":false,"label":"Save temp data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":760,"y":1080,"wires":[["2989c3c2.6bdd1c"]]},{"id":"4c5fd52f.7d9b3c","type":"json","z":"ea8bb60c.1fe138","name":"","property":"payload","action":"","pretty":false,"x":710,"y":940,"wires":[["2989c3c2.6bdd1c"]]},{"id":"e98c9c4c.410bb8","type":"ui_button","z":"ea8bb60c.1fe138","name":"","group":"2c5b267e.f99e6a","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Node-Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":1160,"wires":[["8d870697.06d2","60270849.df51c"]]},{"id":"d4b35b25.690a8","type":"exec","z":"ea8bb60c.1fe138","command":"sudo systemctl restart nodered.service","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":870,"y":1220,"wires":[[],[],[]]},{"id":"8d870697.06d2","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":1160,"wires":[["2547fbd4.62faf4"]]},{"id":"60270849.df51c","type":"delay","z":"ea8bb60c.1fe138","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1220,"wires":[["d4b35b25.690a8"]]},{"id":"7a73a681.5a5b9","type":"change","z":"ea8bb60c.1fe138","name":"Set temperature","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":880,"wires":[["841a08b8.b25668"]]},{"id":"841a08b8.b25668","type":"ui_template","z":"ea8bb60c.1fe138","group":"b9a9a42.27c5d58","name":"Termometro sala","order":0,"width":"6","height":"6","format":"<script src=\"/myjs/RGraph/RGraph.common.core.js\" ></script>\n<script src=\"/myjs/RGraph/RGraph.gauge.js\" ></script>\n\n<script language=\"javascript\" type=\"text/javascript\">\n\n           (function(scope){ \n                scope.$watch('msg', function(msg) {\n                   gauge3.value=[msg.temperature];\n                   gauge3.grow();\n                });\n            })(scope);\n            \n            var gauge3 = new RGraph.Gauge({\n                id: 'cvs',\n                min: 0,\n                max: 50,\n                value: [23],\n                options: {\n                    titleBottom: 'Sala',\n                    titleBottomSize: '16',\n                    titleBottomFont: 'Impact',\n                    titleBottomColor: '#ff8888',\n                    titleBottomPos: 0.25,\n                    backgroundColor: 'black',\n                    backgroundGradient: true,\n                    centerpinColor: '#666',\n                    needleSize: [100],\n                    needleColors: ['Gradient(transparent:yellow:orange:#ff8888:#ff8888)'],\n                    textColor: 'white',\n                    tickmarksBigColor: 'white',\n                    tickmarksMediumColor: 'white',\n                    tickmarksSmallColor: 'white',\n                    borderWidth: 1,\n                    borderOuter: '#666',\n                    borderInner: '#3333',\n                    colorsRanges: [\n                                     [0,10,'rgba(0,0,255,0.6)'], \n                                    [10,20,'rgba(0,128,255,0.6)'], \n                                    [20,30,'rgba(0,204,0,1)'], \n                                    [30,40,'rgba(255,255,0,1)'], \n                                    [40,50,'rgba(255,0,0,1)']\n                                  ],\n                    textAccessible: true\n                }\n            });\n            gauge3.grow();\n\n    </script>\n\n    <canvas id=\"cvs\" width=\"300\" height=\"300\">[No canvas support]</canvas>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":880,"wires":[[]]},{"id":"c1cee646.5ceed8","type":"ui_chart","z":"ea8bb60c.1fe138","name":"","group":"b9a9a42.27c5d58","order":0,"width":"0","height":"0","label":"Temperatura 8h","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":940,"wires":[["4c5fd52f.7d9b3c"],[]]},{"id":"fa883774.edb0a8","type":"ui_template","z":"435702b7.02c66c","group":"8c72300b.98c51","name":"css etc","order":1,"width":"0","height":"0","format":"<style>\n\n.filled { height: 48px !important;padding: 0 !important; margin: 0 !important;}\n.nr-dashboard-template { padding: 0; margin: 0;}\n.rounded { border-radius: 12px 12px 12px 12px;}\n.bigfont { font-size: 18px;}\n.smallfont { font-size: 12px;}\n.thedays { cursor:pointer; vertical-align:bottom; height:48px; }\n.the2px  { background-color: #000000; height:2px; }\n.theblocks {width:100%; height:0%; background-color:#000000; }\n.greybuttons { background-color:#000000 !important; width:48px; border: none;}\n.thetemps { cursor:pointer; font-size:70%; color:#000000 !important; }\n.smallheadings { color:white; font-size:80%; }\n\n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":true,"x":260,"y":40,"wires":[[]]},{"id":"2194882d.7a31f8","type":"inject","z":"435702b7.02c66c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":330,"y":420,"wires":[["7d765bba.af3554"]]},{"id":"7d765bba.af3554","type":"moment","z":"435702b7.02c66c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"UTC","adjAmount":"2","adjType":"hours","adjDir":"add","format":"lll","locale":"it_IT","output":"payload","outputType":"msg","outTz":"UTC","x":533,"y":420,"wires":[["6f019be8.47e6e4"]]},{"id":"6f019be8.47e6e4","type":"ui_text","z":"435702b7.02c66c","group":"8c72300b.98c51","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":724,"y":420,"wires":[]},{"id":"e5ef1fe2.2cec8","type":"ui_template","z":"435702b7.02c66c","group":"8c72300b.98c51","name":"Settings page","order":3,"width":"6","height":"6","format":"<script>\n\nvar thedays_0=[\"SUNDAY\",\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\"];\n\nvar ID_0 = \"DD\";\n\nvar last_0=29;\n\nfunction on_off(mm,val)\n{\nif (val==0) { $(mm).height(\"30%\"); $(mm).css('background-color', '#b30101'); } //red\nif (val==1) { $(mm).height(\"60%\"); $(mm).css('background-color', '#118b45'); } //green\n}\n\nfunction feedback(text)\n{\n$(\"#info\"+ID_0).text(text);\nvar tm=setTimeout(function(){ $(\"#info\"+ID_0).text(\"Ok\"); clearTimeout(tm);}, 3000);\n}\n\nfunction selec_0(val,sta)\n{\nvar w=\"#td\"+val+ID_0;\n if (sta) $(w).css('background-color','#000000'); else $(w).css('background-color','#000000');\n}\n\n\n    (function(scope){\n        scope.ID_0 = ID_0;\n        scope.send({payload: '29'})\n        scope.$watch('msg', function(msg) {\n            selec_0(last_0,0); last_0=msg.selector; selec_0(last_0,1);\n            for (var x=0; x<24; x++) \n                { \n                    var w=\"#t\"+x+ID_0; on_off(w,msg.timing[((msg.days-1)*24)+x]); \n                    var v=\"#v\"+x+ID_0; $(v).text(msg.timing[((msg.days-1)*24)+x] == 0 ? 'Off' : 'On')\n                } \n            for (var x=0; x<2; x++) { var w=\"#s\"+x+ID_0; $(w).text(msg.timing[168+x]); }\n             $(\"#d0\"+ID_0).text(thedays_0[msg.days-1]);\n             if ((last_0>4) &&(last_0<29))\n                 $(\"#current\"+ID_0).text(msg.timing[((msg.days-1)*24)+last_0-5]  == 0 ? 'Off' : 'On');\n             else\n                 $(\"#current\"+ID_0).text(\"-\");\n                 \n            if (msg.foryou!=\"\") { feedback(msg.foryou);  }\n            \n             \n        });\n \n    })(scope);\n      \n\n</script>\n<table width=\"100%\">\n    \n    <tr>\n        <td colspan=24><center><span class=\"smallheadings\" >Day</span></center></td>\n    </tr>\n   \n    <tr>\n        <td ng-click=\"send({payload: '29'})\" colspan=24><center><span id=\"{{ 'd0' + ID_0 }}\" style=\"cursor:pointer;color:white;font-size:120%\">MONDAY</span></center></td>\n    </tr>\n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td29' + ID_0 }}\" colspan=24 style=\"background-color:#9E9E9E;height:2px;\"></td>        \n    </tr>  \n\n    <tr>\n        <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"{{ 'v0' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't0' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"{{ 'v1' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't1' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"{{ 'v2' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't2' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"{{ 'v3' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't3' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"{{ 'v4' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't4' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"{{ 'v5' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't5' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"{{ 'v6' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't6' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"{{ 'v7' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't7' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"{{ 'v8' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't8' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"{{ 'v9' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't9' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"{{ 'v10' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't10' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"{{ 'v11' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't11' + ID_0 }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td5' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td6' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td7' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td8' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td9' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td10' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td11' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td12' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td13' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td14' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td15' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td16' + ID_0 }}\" class=\"the2px\"></td>\n    </tr>   \n    \n    <tr>\n        <td align=\"center\">0</td>\n        <td align=\"center\">1</td>\n        <td align=\"center\">2</td>\n        <td align=\"center\">3</td>\n        <td align=\"center\">4</td>\n        <td align=\"center\">5</td>\n        <td align=\"center\">6</td>\n        <td align=\"center\">7</td>\n        <td align=\"center\">8</td>\n        <td align=\"center\">9</td>\n        <td align=\"center\">10</td>\n        <td align=\"center\">11</td>\n    </tr> \n    \n    <tr>\n        <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"{{ 'v12' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't12' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"{{ 'v13' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't13' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"{{ 'v14' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't14' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"{{ 'v15' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't15' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"{{ 'v16' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't16' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"{{ 'v17' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't17' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"{{ 'v18' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't18' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"{{ 'v19' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't19' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"{{ 'v20' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't20' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"{{ 'v21' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't21' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"{{ 'v22' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't22' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"{{ 'v23' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't23' + ID_0 }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td17' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td18' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td19' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td20' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td21' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td22' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td23' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td24' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td25' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td26' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td27' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td28' + ID_0 }}\" class=\"the2px\"></td>\n    </tr>  \n    \n    <tr>\n        <td align=\"center\">12</td>\n        <td align=\"center\">13</td>\n        <td align=\"center\">14</td>\n        <td align=\"center\">15</td>\n        <td align=\"center\">16</td>\n        <td align=\"center\">17</td>\n        <td align=\"center\">18</td>\n        <td align=\"center\">19</td>\n        <td align=\"center\">20</td>\n        <td align=\"center\">21</td>\n        <td align=\"center\">22</td>\n        <td align=\"center\">23</td>\n    </tr> \n    \n    <tr height=\"20px\">\n        <td colspan=2 class=\"smallheadings\">Status:</td>\n\n        <td colspan=10 ><center><span id=\"{{ 'info' + ID_0 }}\" class=\"smallheadings\" ></span></center></td>\n\n    </tr>\n    \n    <tr height=\"10px\">\n        <td colspan=\"12\"></td>\n    </tr>\n\n    <tr style=\"height:48px\">\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_down\"></ng-md-icon>\n            </button> \n        </td>\n        \n        <td colspan=2><center><span id=\"{{ 'current' + ID_0 }}\" style=\"color:white;font-size:120%\">-</span></center></td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_up\"></ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"content_copy\">\n                    <md-tooltip md-direction=\"bottom\">COPY</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"save\">\n                    <md-tooltip md-direction=\"bottom\">SAVE</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\"  ng-click=\"send({payload: 'c'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"cancel\">\n                    <md-tooltip md-direction=\"bottom\">CANCEL</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td colspan=1></td>\n    </tr>\n\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":333,"y":136,"wires":[["98a9e238.f4b11"]]},{"id":"98a9e238.f4b11","type":"function","z":"435702b7.02c66c","name":"Process controls","func":"if ( typeof context.days_0 == 'undefined' ) context.days_0=1;\nif ( typeof context.selector_0 == 'undefined' ) context.selector_0=29;\nif ( typeof context.saving_0 == 'undefined' ) context.saving_0=1;\nif ( typeof context.global.timing_0 == 'undefined' ) \n    {\n        context.global.timing_0=[\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,\n                        6,1\n                        ];\n        context.saving_0=1;                    \n    }\nvar timing_0=global.get(\"timing_0\");\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector_0>4)&&(context.selector_0<29))\n                {\n                    timing_0[((context.days_0-1)*24)+context.selector_0-5] = 1; \n                    msg.foryou=\"ON\";\n                }\n                if (context.selector_0==29) { msg.foryou=\"Next day\"; context.days_0++; if (context.days_0>7) { context.days_0 = 1; } }\n                break;\n    case \"d\" :  if ((context.selector_0>4)&&(context.selector_0<29))\n                {\n                    timing_0[((context.days_0-1)*24)+context.selector_0-5] = 0; \n                    msg.foryou=\"OFF\";\n                }\n                if (context.selector_0==29) {  msg.foryou=\"Previous day\";  context.days_0--; if (context.days_0 < 1) { context.days_0 = 7;  } }\n                break;\n    case 'r' :  if ((context.selector_0>=5)&&(context.selector_0<28))\n                        {\n                         timing_0[((context.days_0-1)*24)+context.selector_0-4]=timing_0[((context.days_0-1)*24)+context.selector_0-5];   \n                         context.selector_0++;\n                         msg.foryou=\"Value copied to the next slot\";\n                        }\n                if ((context.selector_0==29)&&(context.days_0<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing_0[((context.days_0)*24)+a]=timing_0[((context.days_0-1)*24)+a];   \n                            }\n                         context.days_0++;\n                         msg.foryou=\"Copied settings to the next day\";\n                        }\n                        else if(context.days_0==7)\n                            msg.foryou=\"End of Week!\";\n                break;\n    case 's': context.saving_0=0;  msg.foryou=\"Saved Settings\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29': context.selector_0=parseInt(msg.payload);\n               if (msg.payload=='29') msg.foryou=\"Day Selected\";\n               else  msg.foryou=\"Hour Selected: \" + (parseInt(msg.payload)-5);\n    break;\n    case 'c' : msg.payload=\"anything\";  msg.foryou=\"Changes canceled\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures_0;\nmsg.timing=timing_0;\nmsg.days=context.days_0;\nmsg.selector=context.selector_0;\n\nnode.send([msg,null,null]);\n\nif (context.saving_0===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing_0);\n        node.send([null,msg,null]); \n        context.saving_0=1;\n    }\n    msg.foryou=\"\"","outputs":"3","noerr":0,"x":556,"y":188,"wires":[["45859f9d.62dcb"],["f2e50ff7.b62cc"],["51b5d60a.0fa9e8"]]},{"id":"b99051f5.671c3","type":"inject","z":"435702b7.02c66c","name":"Once only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":341,"y":236,"wires":[["98a9e238.f4b11","f1c0a727.df9178"]]},{"id":"b91caaae.069268","type":"inject","z":"435702b7.02c66c","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"x":314,"y":357,"wires":[["d90927fd.d6c958"]]},{"id":"a52e26d0.33b798","type":"function","z":"435702b7.02c66c","name":"on/off 1/0","func":"var timing=global.get(\"timing_0\");\nvar now = new Date(msg.time);\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":632,"y":356,"wires":[[]]},{"id":"f2e50ff7.b62cc","type":"file","z":"435702b7.02c66c","name":"backup","filename":"/root/schedulers/on_off_scheduler.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":745,"y":187,"wires":[[]]},{"id":"f1c0a727.df9178","type":"file in","z":"435702b7.02c66c","name":"Restore","filename":"/root/schedulers/on_off_scheduler.log","format":"utf8","x":534,"y":266,"wires":[["ae389b63.5f84f8"]]},{"id":"ae389b63.5f84f8","type":"function","z":"435702b7.02c66c","name":"Restore data from SD","func":"context.global.timing_0=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":266,"wires":[["3dab4183.bb923e"]]},{"id":"fb21f590.7e5648","type":"link in","z":"435702b7.02c66c","name":"restore","links":["51b5d60a.0fa9e8"],"x":394.5,"y":287,"wires":[["f1c0a727.df9178"]]},{"id":"51b5d60a.0fa9e8","type":"link out","z":"435702b7.02c66c","name":"restore","links":["fb21f590.7e5648"],"x":707.5,"y":224,"wires":[]},{"id":"ca79cfe2.dc5b8","type":"link in","z":"435702b7.02c66c","name":"restoreSD","links":["3dab4183.bb923e"],"x":394,"y":188,"wires":[["98a9e238.f4b11"]]},{"id":"3dab4183.bb923e","type":"link out","z":"435702b7.02c66c","name":"restoreSD","links":["ca79cfe2.dc5b8"],"x":888,"y":266,"wires":[]},{"id":"45859f9d.62dcb","type":"link out","z":"435702b7.02c66c","name":"setSettings","links":["1dd561db.31dd0e"],"x":715,"y":60,"wires":[]},{"id":"1dd561db.31dd0e","type":"link in","z":"435702b7.02c66c","name":"setSettings","links":["45859f9d.62dcb"],"x":200.5,"y":136,"wires":[["e5ef1fe2.2cec8"]]},{"id":"d90927fd.d6c958","type":"moment","z":"435702b7.02c66c","name":"time","topic":"","input":"","inputType":"date","inTz":"UTC","adjAmount":"2","adjType":"hours","adjDir":"add","format":"","locale":"it_IT","output":"time","outputType":"msg","outTz":"UTC","x":479.5,"y":357,"wires":[["a52e26d0.33b798"]]},{"id":"1afde231.64a65e","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"css etc","order":10,"width":"0","height":"0","format":"<style>\n\n.cellGreen \n{\nbackground-color: #ffdddd !important;\n}\n\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n \n\n  \n.zui-table {\n    border: solid 1px #DDEEEE;\n    border-collapse: collapse;\n    border-spacing: 0;\n    font: normal 10px Arial, sans-serif;\n    outline: none;\n}\n.zui-table thead th {\n    width: 100%;\n    height:50%;\n    background-color: #99bbff;\n    border: solid 1px #DDEEEE;\n    color: #336B6B;\n    padding: 7px 3px 5px 3px;\n    text-align: center;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table tbody td {\n    width: 100%;\n    height:50%;\n    border: solid 1px #333;\n    color: #333;\n    text-align: center;\n    padding: 6px 3px 9px 3px;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table-rounded {\n    border: none;\n}\n.zui-table-rounded thead th {\n    background-color: #77aaff;\n    border: none;\n    text-shadow: 1px 1px 1px #ccc;\n    color: #333;\n}\n.zui-table-rounded thead th:first-child {\n    border-radius: 10px 0 0 0;\n}\n.zui-table-rounded thead th:last-child {\n    border-radius: 10px 10px 0px 0px;\n}\n.zui-table-rounded tbody td {\n    border: none;\n    border-top: solid 1px #957030;\n    background-color: #aaddff;\n}\n.zui-table-rounded tbody tr:last-child td:first-child {\n    border-radius: 10px 10px 0 0;\n}\n.zui-table-rounded tbody tr:last-child td:last-child {\n    border-radius: 0 0 10px 10px;\n}  \n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \nvar myStatus=\"Nowt\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":100,"wires":[[]]},{"id":"6d9432dd.106a2c","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"Settings page","order":2,"width":"6","height":"7","format":"<style>\n.thedays { vertical-align:bottom; height:54px; }\n.the2px  { background-color:black; height:2px; }\n.theblocks {width:100%; height:0%; background-color:green; }\n.greybuttons { background-color:#dddddd !important; width:48px; }\n.thetemps { font-size:70%; color:#888888 !important; }\n.smallheadings { color:black; font-size:80%; }\n\n</style>\n\n<script>\nvar thedays = [\"DOMENICA\", \"LUNEDI\", \"MARTEDI\", \"MERCOLEDI\", \"GIOVEDI\", \"VENERDI\", \"SABATO\"];\n\nvar last = 1;\n\nfunction bar(mm, val) {\n  if (val == 14) {\n    $(mm).height(\"12%\");\n    $(mm).css('background-color', '#6666ff');\n  } //blue\n  if (val == 15) {\n    $(mm).height(\"16%\");\n    $(mm).css('background-color', '#5577ff');\n  }\n  if (val == 16) {\n    $(mm).height(\"20%\");\n    $(mm).css('background-color', '#5599ff');\n  }\n  if (val == 17) {\n    $(mm).height(\"24%\");\n    $(mm).css('background-color', '#55ccdd');\n  } // cyan\n  if (val == 18) {\n    $(mm).height(\"28%\");\n    $(mm).css('background-color', '#55ddaa');\n  }\n  if (val == 19) {\n    $(mm).height(\"32%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 20) {\n    $(mm).height(\"36%\");\n    $(mm).css('background-color', '#55dd55');\n  } // green\n  if (val == 21) {\n    $(mm).height(\"40%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 22) {\n    $(mm).height(\"44%\");\n    $(mm).css('background-color', '#aadd55');\n  }\n  if (val == 23) {\n    $(mm).height(\"48%\");\n    $(mm).css('background-color', '#dddd55');\n  } // yellow\n  if (val == 24) {\n    $(mm).height(\"52%\");\n    $(mm).css('background-color', '#ffaa55');\n  }\n  if (val == 25) {\n    $(mm).height(\"56%\");\n    $(mm).css('background-color', '#ff8855');\n  }\n  if (val == 26) {\n    $(mm).height(\"60%\");\n    $(mm).css('background-color', '#ff7777');\n  } // red\n\n}\n\nfunction selec(val, sta) {\n  var w = \"#td\" + val;\n  if (sta) $(w).css('background-color', 'magenta');\n  else $(w).css('background-color', 'black');\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    selec(last, 0);\n    last = msg.selector;\n    selec(last, 1);\n    for (var x = 0; x < 24; x++) {\n      var w = \"#t\" + x;\n      bar(w, msg.timing[((msg.days - 1) * 24) + x]);\n      var v = \"#v\" + x;\n      $(v).text(msg.timing[((msg.days - 1) * 24) + x] + \"C\")\n    }\n    for (var x = 0; x < 2; x++) {\n      var w = \"#s\" + x;\n      $(w).text(msg.timing[168 + x] + \"C\");\n    }\n    $(\"#s2\").text(msg.timing[170] + \"%\");\n    \n    $(\"#d0\").text(thedays[msg.days - 1]);\n    if ((last > 4) && (last < 29))\n      $(\"#current\").text(msg.timing[((msg.days - 1) * 24) + last - 5] + \"C\");\n    else\n      $(\"#current\").text(\"-\");\n\n   myStatus=msg.myStatus;\n   if (msg.foryou != \"\")\n   {\n       $(\"#info\").text(msg.foryou);\n       var tm = setTimeout(function() {\n             $(\"#info\").text(myStatus);\n             clearTimeout(tm);\n       }, 3000);\n    }\n  });\n})(scope);\n\n</script>\n<table width=\"100%\">\n  <tr style=\"height:2px\">\n    <td colspan=12 style=\"background-color:black;height:5px;\"></td>\n  </tr>\n\n  <tr>\n    <td colspan=6>\n      <center><span class=\"smallheadings\">Day</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Frost</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Away</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Dehum</span></center>\n    </td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '29'})\" colspan=6>\n      <center><span id=\"d0\" style=\"color:blue;font-size:110%\">LUNEDI</span></center>\n    </td>\n    <td ng-click=\"send({payload: '1'})\" colspan=2>\n      <center><span id=\"s0\" style=\"color:blue;font-size:110%\">14</span></center>\n    </td>\n    <td ng-click=\"send({payload: '2'})\" colspan=2>\n      <center><span id=\"s1\" style=\"color:blue;font-size:110%\">20</span></center>\n    </td>\n    <td ng-click=\"send({payload: '30'})\" colspan=2>\n      <center><span id=\"s2\" style=\"color:blue;font-size:110%\">40</span></center>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td29\" colspan=6 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td1\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td2\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td30\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"v0\" class=\"thetemps\"></span>\n      <div id=\"t0\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"v1\" class=\"thetemps\"></span>\n      <div id=\"t1\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"v2\" class=\"thetemps\"></span>\n      <div id=\"t2\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"v3\" class=\"thetemps\"></span>\n      <div id=\"t3\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"v4\" class=\"thetemps\"></span>\n      <div id=\"t4\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"v5\" class=\"thetemps\"></span>\n      <div id=\"t5\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"v6\" class=\"thetemps\"></span>\n      <div id=\"t6\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"v7\" class=\"thetemps\"></span>\n      <div id=\"t7\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"v8\" class=\"thetemps\"></span>\n      <div id=\"t8\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"v9\" class=\"thetemps\"></span>\n      <div id=\"t9\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"v10\" class=\"thetemps\"></span>\n      <div id=\"t10\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"v11\" class=\"thetemps\"></span>\n      <div id=\"t11\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td5\" class=\"the2px\"></td>\n    <td id=\"td6\" class=\"the2px\"></td>\n    <td id=\"td7\" class=\"the2px\"></td>\n    <td id=\"td8\" class=\"the2px\"></td>\n    <td id=\"td9\" class=\"the2px\"></td>\n    <td id=\"td10\" class=\"the2px\"></td>\n    <td id=\"td11\" class=\"the2px\"></td>\n    <td id=\"td12\" class=\"the2px\"></td>\n    <td id=\"td13\" class=\"the2px\"></td>\n    <td id=\"td14\" class=\"the2px\"></td>\n    <td id=\"td15\" class=\"the2px\"></td>\n    <td id=\"td16\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>0</td>\n    <td>1</td>\n    <td>2</td>\n    <td>3</td>\n    <td>4</td>\n    <td>5</td>\n    <td>6</td>\n    <td>7</td>\n    <td>8</td>\n    <td>9</td>\n    <td>10</td>\n    <td>11</td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"v12\" class=\"thetemps\"></span>\n      <div id=\"t12\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"v13\" class=\"thetemps\"></span>\n      <div id=\"t13\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"v14\" class=\"thetemps\"></span>\n      <div id=\"t14\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"v15\" class=\"thetemps\"></span>\n      <div id=\"t15\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"v16\" class=\"thetemps\"></span>\n      <div id=\"t16\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"v17\" class=\"thetemps\"></span>\n      <div id=\"t17\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"v18\" class=\"thetemps\"></span>\n      <div id=\"t18\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"v19\" class=\"thetemps\"></span>\n      <div id=\"t19\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"v20\" class=\"thetemps\"></span>\n      <div id=\"t20\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"v21\" class=\"thetemps\"></span>\n      <div id=\"t21\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"v22\" class=\"thetemps\"></span>\n      <div id=\"t22\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"v23\" class=\"thetemps\"></span>\n      <div id=\"t23\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td17\" class=\"the2px\"></td>\n    <td id=\"td18\" class=\"the2px\"></td>\n    <td id=\"td19\" class=\"the2px\"></td>\n    <td id=\"td20\" class=\"the2px\"></td>\n    <td id=\"td21\" class=\"the2px\"></td>\n    <td id=\"td22\" class=\"the2px\"></td>\n    <td id=\"td23\" class=\"the2px\"></td>\n    <td id=\"td24\" class=\"the2px\"></td>\n    <td id=\"td25\" class=\"the2px\"></td>\n    <td id=\"td26\" class=\"the2px\"></td>\n    <td id=\"td27\" class=\"the2px\"></td>\n    <td id=\"td28\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>12</td>\n    <td>13</td>\n    <td>14</td>\n    <td>15</td>\n    <td>16</td>\n    <td>17</td>\n    <td>18</td>\n    <td>19</td>\n    <td>20</td>\n    <td>21</td>\n    <td>22</td>\n    <td>23</td>\n  </tr>\n  \n  <tr height=\"4px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n\n  <tr height=\"22px\">\n    <td colspan=2 bgcolor=\"#dddddd\"><span class=\"smallheadings\">&nbsp;Status:</span></td>\n\n    <td colspan=10 bgcolor=\"#dddddd\">\n      <center><span id=\"info\" class=\"smallheadings\">OK</span></center>\n    </td>\n  </tr>\n\n  <tr height=\"6px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n  <tr style=\"height:48px\">\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-left-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <center><span id=\"current\" style=\"color:black;font-size:120%\">-</span></center>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/edit-copy-4.png':'/myicons/png/48x48/actions/edit-copy-4.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/document-save-5.png':'/myicons/png/48x48/actions/document-save-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'c'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/dialog-cancel-5.png':'/myicons/png/48x48/actions/dialog-cancel-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n    <td colspan=1></td>\n  </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":700,"y":40,"wires":[["4a825506.52b63c","4a621dc5.375424","a1e530f8.3a092"]]},{"id":"4a825506.52b63c","type":"function","z":"a625bc2b.d1a6b","name":"Process controls","func":"if ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=1;\nif ( typeof context.saving == 'undefined' ) context.saving=0;\nif ( typeof context.global.incomingTemperature == 'undefined' ) context.global.incomingTemperature=0;\nif ( typeof context.global.incomingHumidity == 'undefined' ) context.global.incomingHumidity=40;\nif ( typeof context.global.hold == 'undefined' ) context.global.hold=0;\nif ( typeof context.global.away == 'undefined' ) context.global.away=0;\nif ( typeof context.global.manual == 'undefined' ) context.global.manual=0;\nif ( typeof context.global.setTemperature == 'undefined' ) context.global.setTemperature=0;\nif ( typeof context.global.manualTimer == 'undefined' ) context.global.manualTimer=0;\nif ( typeof context.global.myStatus== 'undefined')  context.global.myStatus=\"\";\nif ( typeof context.global.timing == 'undefined' ) \n    {\n        context.global.timing=[\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        8,14,40,0\n                        ];\n        context.saving=0;  \n        msg.payload=\"anything\";  msg.foryou=\"Restoring\"; return([null,null,msg]);\n    }\nvar timing=global.get(\"timing\");\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]++; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26) timing[((context.days-1)*24)+context.selector-5]=26;\n                    msg.foryou=\"Incremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]<26) {  timing[168]++; msg.foryou=\"Incremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]<26) {  timing[169]++; msg.foryou=\"Incremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days<7) { context.days++; msg.foryou=\"Forward one day\";} else msg.foryou=\"End of days!!\"; }\n                if (context.selector==30) { if (timing[170]<60) {  timing[170]++; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case \"d\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]--; \n                    if (timing[((context.days-1)*24)+context.selector-5]<14) timing[((context.days-1)*24)+context.selector-5]=14;\n                    msg.foryou=\"Decremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]>8) { timing[168]--; msg.foryou=\"Decremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]>8) { timing[169]--; msg.foryou=\"Decremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days>1) { context.days--;  msg.foryou=\"Backward one day\";} else msg.foryou=\"Beginning of days!!\";  }\n                if (context.selector==30) { if (timing[170]>30) { timing[170]--; msg.foryou=\"Decremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Copied settings to the next hour slot\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Copied a complete day's settings\";\n                        }\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Settings saved to disk\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29':\n    case '30': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Frost temperature selection\"; \n               else if (msg.payload=='2') msg.foryou=\"Away temperature selection\";\n               else if (msg.payload=='29') msg.foryou=\"Day selection\";\n               else if (msg.payload=='30') msg.foryou=\"Humidity selection\";\n               else  msg.foryou=\"Selected hour period \" + (parseInt(msg.payload)-4);\n    break;\n    case 'c' : msg.payload=\"anything\";  msg.foryou=\"Changes cancelled\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\n\nmsg.myStatus=context.global.myStatus;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing);\n        node.send([null,msg,null]); \n        context.saving=1;\n    }\n    msg.foryou=\"\";\n","outputs":"3","noerr":0,"x":790,"y":120,"wires":[["6d9432dd.106a2c"],["7d0f75c5.7c225c"],["3885865d.603b22"]]},{"id":"873cfdc.cee3e","type":"inject","z":"a625bc2b.d1a6b","name":"Once only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":530,"y":160,"wires":[["4a825506.52b63c","3885865d.603b22"]]},{"id":"4054bad9.0166ec","type":"inject","z":"a625bc2b.d1a6b","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"x":560,"y":240,"wires":[["4a621dc5.375424","f2f29527.091c9","4a825506.52b63c"]]},{"id":"4a621dc5.375424","type":"function","z":"a625bc2b.d1a6b","name":"Process heat","func":"var timing=global.get(\"timing\");\nvar now = new Date();\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nmsg.frost=timing[168];\nmsg.away=timing[169];\nmsg.setHumidity=timing[170];\n\nmsg.temperature=global.get(\"incomingTemperature\");\nmsg.humidity=global.get(\"incomingHumidity\");\n\nmsg.set=msg.payload;\nif (global.get(\"manualTimer\")) global.set(\"manualTimer\",global.get(\"manualTimer\")-1);\nelse global.set(\"manual\",0);\nmsg.desired=msg.set;\nglobal.set(\"setTemperature\",msg.desired);\nmsg.desired+=global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; global.set(\"frost\",global.get(\"frost\")-1); }\nif (global.get(\"away\")) { msg.desired=global.get(\"timing\")[169]; global.set(\"away\",global.get(\"away\")-1); }\n\nif (msg.desired>msg.temperature) msg.heatRelay=1; else msg.heatRelay=0;\nif (msg.humidity>msg.setHumidity) msg.humidityRelay=1; else msg.humidityRelay=0;\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\nglobal.set(\"myStatus\",\"-\");\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point \" + msg.desired + \"c - Actual \" + msg.temperature +\"c\"});\n\nif ( typeof msg.value == 'undefined' ) msg.value=global.get(\"incomingTemperature\");\n\nnode.send(msg);\n\n\n\n\n\n","outputs":"1","noerr":0,"x":750,"y":240,"wires":[["d81ce002.40da1","478de123.cfe038","3c443f3e.8fa638","de6cb532.893ff8","4085b2e0.9045cc"]]},{"id":"7d0f75c5.7c225c","type":"file","z":"a625bc2b.d1a6b","name":"backup","filename":"/home/pi/petesstatlog.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":980,"y":100,"wires":[[]]},{"id":"3885865d.603b22","type":"file in","z":"a625bc2b.d1a6b","name":"Restore","filename":"/home/pi/petesstatlog.log","format":"utf8","x":980,"y":160,"wires":[["c7d246ef.806408"]]},{"id":"c7d246ef.806408","type":"function","z":"a625bc2b.d1a6b","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["4a825506.52b63c"]]},{"id":"c14522d0.e6ca5","type":"inject","z":"a625bc2b.d1a6b","name":"incoming humidity 40%","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":160,"wires":[["20bfe9ce.3cbaae"]]},{"id":"80a43a8a.b72a6","type":"inject","z":"a625bc2b.d1a6b","name":"incoming humidity 50%","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["20bfe9ce.3cbaae"]]},{"id":"567c73c9.acba6c","type":"function","z":"a625bc2b.d1a6b","name":"Store temperature","func":"global.set(\"incomingTemperature\",msg.payload);","outputs":"0","noerr":0,"x":350,"y":100,"wires":[]},{"id":"20bfe9ce.3cbaae","type":"function","z":"a625bc2b.d1a6b","name":"Store humidity","func":"global.set(\"incomingHumidity\",msg.payload);","outputs":"0","noerr":0,"x":340,"y":180,"wires":[]},{"id":"1ff69848.15b268","type":"inject","z":"a625bc2b.d1a6b","name":"Test \"Away\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":240,"wires":[["5e404dcb.2ff6ac"]]},{"id":"57c6febd.c43958","type":"inject","z":"a625bc2b.d1a6b","name":"Test \"Away\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":280,"wires":[["5e404dcb.2ff6ac"]]},{"id":"66a0012e.bd056","type":"inject","z":"a625bc2b.d1a6b","name":"Test \"Frost\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["a0f6c6a6.48c478"]]},{"id":"6f112828.d019c","type":"inject","z":"a625bc2b.d1a6b","name":"Test \"Frost\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":360,"wires":[["a0f6c6a6.48c478"]]},{"id":"a0f6c6a6.48c478","type":"function","z":"a625bc2b.d1a6b","name":"Store \"Hold\"","func":"global.set(\"frost\",msg.payload);","outputs":"0","noerr":0,"x":330,"y":360,"wires":[]},{"id":"5e404dcb.2ff6ac","type":"function","z":"a625bc2b.d1a6b","name":"Store \"Away\"","func":"global.set(\"away\",msg.payload);","outputs":"0","noerr":0,"x":330,"y":260,"wires":[]},{"id":"29b70a2f.3d7f06","type":"inject","z":"a625bc2b.d1a6b","name":"sample forecast","topic":"","payload":"Dry, 2c with chance of snow","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":400,"wires":[["f2e001d.0b0a1"]]},{"id":"d193c957.4ace58","type":"inject","z":"a625bc2b.d1a6b","name":"Sample forecast","topic":"","payload":"Wet, 12c, possibly rain tonight","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":440,"wires":[["f2e001d.0b0a1"]]},{"id":"f2e001d.0b0a1","type":"function","z":"a625bc2b.d1a6b","name":"Store forecast","func":"global.set(\"forecast\",msg.payload);","outputs":"0","noerr":0,"x":340,"y":420,"wires":[]},{"id":"af023c20.c85508","type":"function","z":"a625bc2b.d1a6b","name":"Heat relay","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1050,"y":260,"wires":[]},{"id":"af09e548.fde9a8","type":"function","z":"a625bc2b.d1a6b","name":"Handle SET","func":"// here we set manual override controls - valid for 60 minutes after last change.\n\nif (global.get(\"away\")===0)\n{\n    if (msg.payload==\"u\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")<10) global.set(\"manual\",global.get(\"manual\")+1); }\n    if (msg.payload==\"d\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")>-10) global.set(\"manual\",global.get(\"manual\")-1); }\n    if (msg.payload==\"a\") { global.set(\"manualTimer\",0); global.set(\"manual\",0); }\n}\n\nif (global.get(\"manual\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nmsg.desired= global.get(\"setTemperature\") + global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; msg.colour=\"#ffbbbb\"; }\nif (global.get(\"away\"))  { msg.desired=global.get(\"timing\")[169];msg.colour=\"#ffbbbb\";  }\nmsg.value=msg.desired;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["478de123.cfe038","4a621dc5.375424"]]},{"id":"10d385ee.919ec2","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"up","order":4,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":330,"y":560,"wires":[["af09e548.fde9a8","5e779a2f.c5609c"]]},{"id":"bb3de05e.22dc88","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"down","order":3,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-down-2.png':'/myicons/png/48x48/actions/arrow-left-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":330,"y":600,"wires":[["af09e548.fde9a8","5e779a2f.c5609c"]]},{"id":"c1f0570a.5fd62","type":"function","z":"a625bc2b.d1a6b","name":"Handle AWAY","func":"// here we set manual override controls - valid for 60 minutes after last change.\nif (msg.payload==\"u\") {  global.set(\"away\",global.get(\"away\")+1); }\nif (msg.payload==\"uu\") { global.set(\"away\",global.get(\"away\")+24); }\nif (msg.payload==\"a\") { global.set(\"away\",0);  }\nmsg.away=global.get(\"away\");\n\nif (global.get(\"away\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nvar t=parseInt(msg.away);\nif (t>23) t=((t/24).toFixed(1))+\"d\"; else t=t+\"h\";\nmsg.away=t;\n  \nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":480,"wires":[["af09e548.fde9a8","6f94bd52.f42bbc"]]},{"id":"56c3ed62.da7cac","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"more","order":6,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":330,"y":640,"wires":[["c1f0570a.5fd62","5e779a2f.c5609c"]]},{"id":"60c9b761.20874","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"mmore","order":7,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'uu'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":340,"y":680,"wires":[["c1f0570a.5fd62","5e779a2f.c5609c"]]},{"id":"d81ce002.40da1","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"newergauge","order":1,"width":"3","height":"3","format":"<script type=\"text/javascript\" src=\"/myjs/gauge.min.js\"></script>\n<script>\n\n\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n           gauge.value=msg.value;\n           gauge.heat=msg.heatRelay;\n           gauge.humidity=msg.humidityRelay;\n           gauge.draw();\n        });\n    })(scope);\n    \nvar gauge = new RadialGauge({\n    renderTo: 'canvas-id',\n    width: 160,\n    height: 160,\n    heat: 0,\n    humidity: 0,\n    units: \"Degrees C\",\n    title: \"Heating\",\n    minValue: 10,\n    maxValue: 30,\n    majorTicks: [\n        '10',\n        '15',\n        '20',\n        '25',\n        '30'\n    ],\n    minorTicks: 5,\n    strokeTicks: true,\n   highlights  : [\n        { from : 10,  to : 15, color : '#8888ff' },\n        { from : 15, to : 20, color :  '#88ff88' },\n        { from : 20, to : 25, color :  '#ffff00' },\n        { from : 25, to : 30, color :  '#ff8888' }\n    ],\n\n    colorPlate: \"#fff\",\n    borderShadowWidth: 0,\n    borders: true,\n    needleType: \"arrow\",\n    valueInt: 2,\n    valueDec:0,\n    needleWidth: 2,\n    fontTitleSize: 42,\n    needleCircleSize: 14,\n    needleCircleOuter: true,\n    needleCircleInner: false,\n    animationDuration: 500,\n    animationRule: \"linear\"\n}).draw();\n\n\ngauge.on('beforeNeedle', function () {\n        // getting canvas 2d drawing context\n        var context = this.canvas.context;\n        // we can use gauge context special 'max' property which represents\n        // gauge radius in a real pixels and calculate size of relative pixel\n        // for our drawing needs\n        var pixel = context.max / 100;\n        // step out our circle center coordinate by 30% of its radius from\n        // gauge center\n        var centerX = 36 * pixel;\n        // stay in center by Y-coordinate\n        var centerY = 0;\n        // use circle radius equal to 5%\n        var radius = 10 * pixel;\n        // save previous context state\n        context.save();\n        \n        // draw circle using canvas JS API\n        context.beginPath();\n        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.heat) ? '#ff0000' : '#8888';\n        context.fill();\n        context.closePath();\n\n        context.beginPath();\n        context.arc(centerX-(72 * pixel), centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.humidity) ? '#00dd88' : '#888888';\n        context.fill();\n        context.closePath();\n        // restore previous context state to prevent break of\n        // further drawings        \n        \n        context.restore();\n       // context.draw();\n    });\n\ngauge.value = 18;\n\n\n</script>\n<canvas style=\"outline: none;\" ng-click=\"send({payload: ' '})\" id=\"canvas-id\">\n</canvas>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1430,"y":340,"wires":[["4a621dc5.375424","a1e530f8.3a092"]]},{"id":"478de123.cfe038","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"SET","order":5,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.desired!=\"\") $(\"#infor\").text(msg.desired+\"C\");\n             if (msg.colour!=\"\") $(\"#infor\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n<table  ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>SET</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr >\n            <td id=\"infor\"></td>\n        </tr>\n\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"x":1310,"y":560,"wires":[["af09e548.fde9a8","5e779a2f.c5609c"]]},{"id":"6f94bd52.f42bbc","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"AWAY","order":8,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.away!=\"\") $(\"#awaytable\").text(msg.away);\n             if (msg.colour!=\"\") $(\"#awaytable\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>AWAY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"awaytable\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"x":1290,"y":640,"wires":[["c1f0570a.5fd62","5e779a2f.c5609c"]]},{"id":"b8d6c736.1ec098","type":"ui_template","z":"a625bc2b.d1a6b","group":"9a50e6eb.b8abb8","name":"STATUS","order":9,"width":"3","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.topic!=\"\") $(\"#hdr1\").text(msg.topic);\n             if (msg.payload!=\"\") $(\"#bod1\").text(msg.payload);\n        });\n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th id=\"hdr1\">></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"bod1\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"x":1280,"y":760,"wires":[[]]},{"id":"f2f29527.091c9","type":"function","z":"a625bc2b.d1a6b","name":"show humidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\nmsg.topic=theNewDate();\nmsg.payload=\"Humidity: \" + global.get(\"incomingHumidity\") +\"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["b8d6c736.1ec098"]]},{"id":"5e779a2f.c5609c","type":"function","z":"a625bc2b.d1a6b","name":"Showing settings","func":"msg.payload=\"Showing settings\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":780,"wires":[["b8d6c736.1ec098"]]},{"id":"a1e530f8.3a092","type":"function","z":"a625bc2b.d1a6b","name":"Showing actual","func":"msg.payload=\"Showing actual\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":660,"wires":[["b8d6c736.1ec098"]]},{"id":"6df1fd50.08776c","type":"function","z":"a625bc2b.d1a6b","name":"Dehum relay","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1050,"y":320,"wires":[]},{"id":"48bb7a81.c36a84","type":"inject","z":"a625bc2b.d1a6b","name":"incoming heat 27c","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["567c73c9.acba6c"]]},{"id":"42be292a.9e326","type":"inject","z":"a625bc2b.d1a6b","name":"incoming heat 18c","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["567c73c9.acba6c"]]},{"id":"3c443f3e.8fa638","type":"trigger","z":"a625bc2b.d1a6b","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"min","reset":"","name":"","x":1050,"y":200,"wires":[["af023c20.c85508","6df1fd50.08776c"]]},{"id":"de6cb532.893ff8","type":"function","z":"a625bc2b.d1a6b","name":"Heat test","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1040,"y":380,"wires":[]},{"id":"4085b2e0.9045cc","type":"function","z":"a625bc2b.d1a6b","name":"Dehum test","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1050,"y":440,"wires":[]},{"id":"efeca422.0f2af8","type":"debug","z":"9c7b3d21.9cf5c","name":"SALA1TOGGLE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":640,"y":300,"wires":[]},{"id":"e547bd10.245c8","type":"inject","z":"39d86f60.6759e","name":"Get IP","topic":"ip","payload":"eth0","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":"","x":120,"y":260,"wires":[["e7ed4f2c.ccb7b"]]},{"id":"44d49e88.7e2b","type":"function","z":"39d86f60.6759e","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\n    context.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\n    msg.payload = currentip;\n    context.lastip = currentip;\n    return msg;\n}\n\n","outputs":"1","noerr":0,"x":350,"y":460,"wires":[["a3fd4b03.b5f3b","3dab6b00.e1cf4c"]]},{"id":"e7ed4f2c.ccb7b","type":"exec","z":"39d86f60.6759e","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":360,"y":260,"wires":[["df607035.564ae8","b7a02c97.6c32b8"],[],[]]},{"id":"df607035.564ae8","type":"switch","z":"39d86f60.6759e","name":"Integrity check","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":360,"wires":[["44d49e88.7e2b","bdd8ea64.1fed78"],[]]},{"id":"a3fd4b03.b5f3b","type":"http request","z":"39d86f60.6759e","name":"Update no-ip.com","method":"GET","url":"http://forry2:geminitx@dynupdate.no-ip.com/nic/update?hostname=ilmola.loginto.me&myip={{payload}}","tls":"","x":370,"y":560,"wires":[["4ff0ae32.3450d8"]]},{"id":"dc8a055b.a5fb5","type":"inject","z":"39d86f60.6759e","name":"Test IP address","topic":"","payload":"192.168.1.9","payloadType":"string","repeat":"","crontab":"","once":false,"x":140,"y":460,"wires":[["44d49e88.7e2b"]]},{"id":"b7a02c97.6c32b8","type":"debug","z":"39d86f60.6759e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"bdd8ea64.1fed78","type":"debug","z":"39d86f60.6759e","name":"integrity check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":713.88330078125,"y":348.8833312988281,"wires":[]},{"id":"3dab6b00.e1cf4c","type":"debug","z":"39d86f60.6759e","name":"COMPARE IP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":729.88330078125,"y":437.8833312988281,"wires":[]},{"id":"4ff0ae32.3450d8","type":"debug","z":"39d86f60.6759e","name":"UPDATE NOIP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":694.88330078125,"y":563.88330078125,"wires":[]},{"id":"23113a76.c6263e","type":"inject","z":"27c2708b.31af58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":140,"wires":[["811e082d.5f85c8"]]},{"id":"811e082d.5f85c8","type":"change","z":"27c2708b.31af58","name":"","rules":[{"t":"set","p":"sala1","pt":"global","to":"OFF","tot":"str"},{"t":"set","p":"sala2","pt":"global","to":"OFF","tot":"str"},{"t":"set","p":"sala3","pt":"global","to":"OFF","tot":"str"},{"t":"set","p":"sala4","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[[]]},{"id":"e61db557.03a25","type":"switch","z":"73e11c37.b818a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SHORT","vt":"str"},{"t":"eq","v":"MEDIUM","vt":"str"},{"t":"eq","v":"LONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":930,"y":960,"wires":[["76949412.fa598c"],[],["a84924d5.3d7ef","c6a9b5d8.6d39f8"],[]]},{"id":"7ea23b6a.338ed4","type":"inject","z":"73e11c37.b818a4","name":"LUNGO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["6fd77ce1.08cc24","e2be5176.a6d04"]]},{"id":"6fd77ce1.08cc24","type":"change","z":"73e11c37.b818a4","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":60,"wires":[["38319799.61ec68"]]},{"id":"e2be5176.a6d04","type":"change","z":"73e11c37.b818a4","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["2235a2e2.d562ce"]]},{"id":"38319799.61ec68","type":"delay","z":"73e11c37.b818a4","name":"0","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":60,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"2235a2e2.d562ce","type":"delay","z":"73e11c37.b818a4","name":"3000ms","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":100,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"5729fde4.e34e84","type":"inject","z":"73e11c37.b818a4","name":"BREVE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["c0a1425c.107ea","675059f9.df7c38"]]},{"id":"c0a1425c.107ea","type":"change","z":"73e11c37.b818a4","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":140,"wires":[["ee563848.9295f8"]]},{"id":"675059f9.df7c38","type":"change","z":"73e11c37.b818a4","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":180,"wires":[["767c0fc.e1eeff"]]},{"id":"ee563848.9295f8","type":"delay","z":"73e11c37.b818a4","name":"0","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":140,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"767c0fc.e1eeff","type":"delay","z":"73e11c37.b818a4","name":"300ms","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":180,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"4dc69782.645ed8","type":"function","z":"73e11c37.b818a4","name":"Evaluate interval","func":"context.set(\"lastPress\", context.get(\"lastPress\") || null);\ncontext.set(\"listenToTimeouts\", context.get(\"listenToTimeouts\") || false);\n\n\n\nif ((msg.deltatime === undefined) && (msg.payload === 0)){\n    // pressione\n    context.set(\"listenToTimeouts\", true);\n    context.set(\"lastPress\", Date.now());\n    ///// return ({payload:\"pressione\"});\n    return;\n}\n\nif ((msg.deltatime === undefined) && (msg.payload === 1)){\n    // rilascio\n    context.set(\"listenToTimeouts\", false);\n    if (context.get(\"lastPress\") === null){\n        ///// return ({payload:\"rilascio non valido\"});\n        return;\n    }\n    else{\n        deltaTime = Date.now() - context.get(\"lastPress\");\n        context.set(\"lastPress\", null);\n        ///// return ({payload:\"rilascio con delta \" + deltaTime});\n        \n        if (deltaTime < 100){\n            return ({payload:\"SPIKE\"});\n        }\n        if (deltaTime < 500){\n            return ({payload:\"SHORT\"});\n        }\n        if (deltaTime < 1000){\n            return ({payload:\"MEDIUM\"});\n        }\n    }\n\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === true)){\n    // timeout\n    context.set(\"listenToTimeouts\", false);\n    ///// return ({payload:\"timeout\"});\n    return ({payload:\"LONG\"});\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === false)){\n    // timeout invalido\n    ///// return ({payload:\"timeout invalido\"});\n    return;\n}\n\n\n\n","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["7018401e.08981","e824556b.496408"]]},{"id":"95a33ba7.dd7858","type":"interval-length","z":"73e11c37.b818a4","format":"mills","bytopic":false,"minimum":"","maximum":"1000","window":"","timeout":true,"msgTimeout":"1001","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"deltatime","timestampField":"timestamp","repeatTimeout":false,"name":"","x":360,"y":460,"wires":[[],["4dc69782.645ed8"]]},{"id":"7018401e.08981","type":"switch","z":"73e11c37.b818a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SHORT","vt":"str"},{"t":"eq","v":"MEDIUM","vt":"str"},{"t":"eq","v":"LONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":770,"y":380,"wires":[["d25cd945.35a948"],["d25cd945.35a948"],["f248d069.1be6d"],[]]},{"id":"d25cd945.35a948","type":"link out","z":"73e11c37.b818a4","name":"","links":["4b7ae4b5.b72664"],"x":975,"y":360,"wires":[]},{"id":"f248d069.1be6d","type":"link out","z":"73e11c37.b818a4","name":"","links":["dc050e64.353ee8"],"x":975,"y":400,"wires":[]},{"id":"e824556b.496408","type":"debug","z":"73e11c37.b818a4","name":"COMMAND-sala1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":834.4636840820312,"y":452.6041564941406,"wires":[]},{"id":"3e74345e.7df0ec","type":"inject","z":"73e11c37.b818a4","name":"MEDIO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["282776d8.c714ea","85611a2b.5f84a8"]]},{"id":"282776d8.c714ea","type":"change","z":"73e11c37.b818a4","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":220,"wires":[["dba954fa.339d38"]]},{"id":"85611a2b.5f84a8","type":"change","z":"73e11c37.b818a4","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":260,"wires":[["d65862fa.2ce67"]]},{"id":"dba954fa.339d38","type":"delay","z":"73e11c37.b818a4","name":"0","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":220,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"d65862fa.2ce67","type":"delay","z":"73e11c37.b818a4","name":"650ms","pauseType":"delay","timeout":"650","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":260,"wires":[["95a33ba7.dd7858","4dc69782.645ed8"]]},{"id":"45418b80.56d624","type":"interval-length","z":"73e11c37.b818a4","format":"mills","bytopic":false,"minimum":"","maximum":"1000","window":"","timeout":true,"msgTimeout":"1001","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"deltatime","timestampField":"timestamp","repeatTimeout":false,"name":"","x":400,"y":880,"wires":[[],["b5e1120c.25572"]]},{"id":"b5e1120c.25572","type":"function","z":"73e11c37.b818a4","name":"Evaluate interval","func":"context.set(\"lastPress\", context.get(\"lastPress\") || null);\ncontext.set(\"listenToTimeouts\", context.get(\"listenToTimeouts\") || false);\n\n\n\nif ((msg.deltatime === undefined) && (msg.payload === 0)){\n    // pressione\n    context.set(\"listenToTimeouts\", true);\n    context.set(\"lastPress\", Date.now());\n    ///// return ({payload:\"pressione\"});\n    return;\n}\n\nif ((msg.deltatime === undefined) && (msg.payload === 1)){\n    // rilascio\n    context.set(\"listenToTimeouts\", false);\n    if (context.get(\"lastPress\") === null){\n        ///// return ({payload:\"rilascio non valido\"});\n        return;\n    }\n    else{\n        deltaTime = Date.now() - context.get(\"lastPress\");\n        context.set(\"lastPress\", null);\n        ///// return ({payload:\"rilascio con delta \" + deltaTime});\n        \n        if (deltaTime < 100){\n            return ({payload:\"SPIKE\"});\n        }\n        if (deltaTime < 500){\n            return ({payload:\"SHORT\"});\n        }\n        if (deltaTime < 1000){\n            return ({payload:\"MEDIUM\"});\n        }\n    }\n\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === true)){\n    // timeout\n    context.set(\"listenToTimeouts\", false);\n    ///// return ({payload:\"timeout\"});\n    return ({payload:\"LONG\"});\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === false)){\n    // timeout invalido\n    ///// return ({payload:\"timeout invalido\"});\n    return;\n}\n\n\n\n","outputs":1,"noerr":0,"x":640,"y":960,"wires":[["e61db557.03a25"]]},{"id":"5185726d.10fc7c","type":"interval-length","z":"73e11c37.b818a4","format":"mills","bytopic":false,"minimum":"","maximum":"1000","window":"","timeout":true,"msgTimeout":"1001","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"deltatime","timestampField":"timestamp","repeatTimeout":false,"name":"","x":540,"y":1220,"wires":[[],["10e434fd.49293b"]]},{"id":"10e434fd.49293b","type":"function","z":"73e11c37.b818a4","name":"Evaluate interval","func":"context.set(\"lastPress\", context.get(\"lastPress\") || null);\ncontext.set(\"listenToTimeouts\", context.get(\"listenToTimeouts\") || false);\n\n\n\nif ((msg.deltatime === undefined) && (msg.payload === 0)){\n    // pressione\n    context.set(\"listenToTimeouts\", true);\n    context.set(\"lastPress\", Date.now());\n    ///// return ({payload:\"pressione\"});\n    return;\n}\n\nif ((msg.deltatime === undefined) && (msg.payload === 1)){\n    // rilascio\n    context.set(\"listenToTimeouts\", false);\n    if (context.get(\"lastPress\") === null){\n        ///// return ({payload:\"rilascio non valido\"});\n        return;\n    }\n    else{\n        deltaTime = Date.now() - context.get(\"lastPress\");\n        context.set(\"lastPress\", null);\n        ///// return ({payload:\"rilascio con delta \" + deltaTime});\n        \n        if (deltaTime < 100){\n            return ({payload:\"SPIKE\"});\n        }\n        if (deltaTime < 500){\n            return ({payload:\"SHORT\"});\n        }\n        if (deltaTime < 1000){\n            return ({payload:\"MEDIUM\"});\n        }\n    }\n\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === true)){\n    // timeout\n    context.set(\"listenToTimeouts\", false);\n    ///// return ({payload:\"timeout\"});\n    return ({payload:\"LONG\"});\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === false)){\n    // timeout invalido\n    ///// return ({payload:\"timeout invalido\"});\n    return;\n}\n\n\n\n","outputs":1,"noerr":0,"x":740,"y":1280,"wires":[["710050c0.2045c"]]},{"id":"cb598c81.e17c1","type":"interval-length","z":"73e11c37.b818a4","format":"mills","bytopic":false,"minimum":"","maximum":"1000","window":"","timeout":true,"msgTimeout":"1001","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"deltatime","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":1560,"wires":[[],["47822c0e.178ee4"]]},{"id":"47822c0e.178ee4","type":"function","z":"73e11c37.b818a4","name":"Evaluate interval","func":"context.set(\"lastPress\", context.get(\"lastPress\") || null);\ncontext.set(\"listenToTimeouts\", context.get(\"listenToTimeouts\") || false);\n\n\n\nif ((msg.deltatime === undefined) && (msg.payload === 0)){\n    // pressione\n    context.set(\"listenToTimeouts\", true);\n    context.set(\"lastPress\", Date.now());\n    ///// return ({payload:\"pressione\"});\n    return;\n}\n\nif ((msg.deltatime === undefined) && (msg.payload === 1)){\n    // rilascio\n    context.set(\"listenToTimeouts\", false);\n    if (context.get(\"lastPress\") === null){\n        ///// return ({payload:\"rilascio non valido\"});\n        return;\n    }\n    else{\n        deltaTime = Date.now() - context.get(\"lastPress\");\n        context.set(\"lastPress\", null);\n        ///// return ({payload:\"rilascio con delta \" + deltaTime});\n        \n        if (deltaTime < 100){\n            return ({payload:\"SPIKE\"});\n        }\n        if (deltaTime < 500){\n            return ({payload:\"SHORT\"});\n        }\n        if (deltaTime < 1000){\n            return ({payload:\"MEDIUM\"});\n        }\n    }\n\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === true)){\n    // timeout\n    context.set(\"listenToTimeouts\", false);\n    ///// return ({payload:\"timeout\"});\n    return ({payload:\"LONG\"});\n    \n}\nif ((msg.deltatime !== undefined) && (context.get(\"listenToTimeouts\") === false)){\n    // timeout invalido\n    ///// return ({payload:\"timeout invalido\"});\n    return;\n}\n\n\n\n","outputs":1,"noerr":0,"x":660,"y":1600,"wires":[["106c82ff.4d4eb5","d13330be.30d29"]]},{"id":"7562b008.18bc1","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":1320,"wires":[["1a11f775.b16169"]]},{"id":"ba00cd4c.01b61","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":1360,"wires":[["4213d65.0619d28"]]},{"id":"ba1a104f.fa8b8","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1400,"wires":[["50f33d13.eccf34"]]},{"id":"1a11f775.b16169","type":"link out","z":"73e11c37.b818a4","name":"","links":["e7047ba8.a5633"],"x":1275,"y":1320,"wires":[]},{"id":"4213d65.0619d28","type":"link out","z":"73e11c37.b818a4","name":"","links":["39aa593f.a4c0e6"],"x":1275,"y":1360,"wires":[]},{"id":"50f33d13.eccf34","type":"link out","z":"73e11c37.b818a4","name":"","links":["e405696c.357278"],"x":1275,"y":1400,"wires":[]},{"id":"c703c3a4.f55a3","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1640,"wires":[["f57ce19b.49722"]]},{"id":"b38dba6d.e3e538","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1680,"wires":[["926ea7b8.caea48"]]},{"id":"7baf93dd.1ac0cc","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1720,"wires":[["8d7bfde5.cbd75"]]},{"id":"f57ce19b.49722","type":"link out","z":"73e11c37.b818a4","name":"","links":["e7047ba8.a5633"],"x":1295,"y":1640,"wires":[]},{"id":"926ea7b8.caea48","type":"link out","z":"73e11c37.b818a4","name":"","links":["39aa593f.a4c0e6"],"x":1295,"y":1680,"wires":[]},{"id":"8d7bfde5.cbd75","type":"link out","z":"73e11c37.b818a4","name":"","links":["e405696c.357278"],"x":1295,"y":1720,"wires":[]},{"id":"2647e64b.449bba","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1760,"wires":[["f0ccbdc5.aca59"]]},{"id":"f0ccbdc5.aca59","type":"link out","z":"73e11c37.b818a4","name":"","links":["f221f4a9.fb9838"],"x":1295,"y":1760,"wires":[]},{"id":"d13330be.30d29","type":"debug","z":"73e11c37.b818a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":1480,"wires":[]},{"id":"7f541c6a.849764","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":1760,"wires":[["ddc6b707.a31fb8"]]},{"id":"9ed26c2b.f6e32","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":1800,"wires":[["f4d75260.c3635"]]},{"id":"f8ba19c5.057ef8","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":1840,"wires":[["ab778720.40fcc8"]]},{"id":"ddc6b707.a31fb8","type":"link out","z":"73e11c37.b818a4","name":"","links":["e7047ba8.a5633"],"x":995,"y":1760,"wires":[]},{"id":"f4d75260.c3635","type":"link out","z":"73e11c37.b818a4","name":"","links":["39aa593f.a4c0e6"],"x":995,"y":1800,"wires":[]},{"id":"ab778720.40fcc8","type":"link out","z":"73e11c37.b818a4","name":"","links":["e405696c.357278"],"x":995,"y":1840,"wires":[]},{"id":"ca826270.692e","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1880,"wires":[["2324e3ff.249a1c"]]},{"id":"2324e3ff.249a1c","type":"link out","z":"73e11c37.b818a4","name":"","links":["f221f4a9.fb9838"],"x":995,"y":1880,"wires":[]},{"id":"60ae9ded.b73154","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1960,"wires":[["163879cb.051506"]]},{"id":"163879cb.051506","type":"link out","z":"73e11c37.b818a4","name":"","links":["21d58317.d004c4","3bbd4157.a38a26","3cccf702.4ea49","85c8eb83.043d58"],"x":1015,"y":1960,"wires":[]},{"id":"1e3dc5c8.45f2ca","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":2020,"wires":[[]]},{"id":"96582f5a.26d7f","type":"delay","z":"73e11c37.b818a4","name":"","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":2080,"wires":[["163879cb.051506"]]},{"id":"ec7840fa.e93ca","type":"http in","z":"3be14c38.5b29e4","name":"POST Request","url":"/assistente","method":"post","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["e39daed1.0dc85","7c31e7a5.7f72d8"]]},{"id":"e39daed1.0dc85","type":"debug","z":"3be14c38.5b29e4","name":"Step 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":60,"wires":[]},{"id":"7c31e7a5.7f72d8","type":"function","z":"3be14c38.5b29e4","name":"Filter undesired words","func":"var undesired = [\" il \",\"l'\",\" e \",\" ed \",\" o \",\" la \",\" le \",\" gli \",\" un \",\" una \",\" uni \",\" une \",\" di \",\" a \",\" al \",\" alla \",\" agli \",\" alle \",\" allo \",\" da \",\" in \",\" con \",\" su \",\" per \",\" tra \",\" fra \",\" del \",\" della \",\" delle \",\" degli \",\" dagli \",\" dalle \",\" dalla \",\" nella \",\" nelle \",\" negli \"];\n\n\nmsg.payload.text = \" \" + msg.payload.text + \" \";\n\nvar arrayLength = undesired.length;\nfor (var i = 0; i < arrayLength; i++) {\n    //alert(myStringArray[i]);\n    while (msg.payload.text.lastIndexOf(undesired[i]) > -1){\n        msg.payload.text = msg.payload.text.replace(undesired[i], \" \");\n    }\n}\n\n// removing rubbish\n/*\nmsg.payload.text = msg.payload.text.toLowerCase();\nmsg.payload.text = msg.payload.text.replace(\"il \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"la \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"le \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"gli \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"un \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"una \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"uni \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"une \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"di \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"a \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"da \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"in \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"con \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"su \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"per \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"tra \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"fra \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"del \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"della \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"delle \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"degli \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"dagli \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"dalle \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"dalla \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"nella \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"nelle \",\" \");\nmsg.payload.text = msg.payload.text.replace(\"negli \",\" \");\n*/\n\nmsg.payload.text = msg.payload.text.trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["16ccc362.0d052d","d2df4770.a52248"]]},{"id":"16ccc362.0d052d","type":"debug","z":"3be14c38.5b29e4","name":"Step 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":120,"wires":[]},{"id":"d2df4770.a52248","type":"function","z":"3be14c38.5b29e4","name":"Analyze voice command","func":"var inputString = msg.payload.text;\nvar inputArray = inputString.split(\" \");\n\nvar successAnswers = [\n    \"Ricordati che Roberto ti guarda\",\n    \"Ricordati che Roberto ha fatto tutto l'impianto di casa tua aggratise\",\n    \"Roberto  un bravo ingegnere e tu non hai nemmeno la sciuco in casa\",\n    \"Ok sua maest, provvedo subito\",\n    \"Agli ordini, sua magnificenza, eseguo immediatamente\",\n    \"Ma certo sua santit, non perdo un istante\",\n    \"Oh mio signore e padrone, eseguo all'istante\",\n    \"Mio unico signore, pendo dalle tue labbra\",\n    \"Sua eccellenza, lo consideri gi fatto\",\n    \"Oh sommo signore degli eserciti, ci penso io\",\n    \"Sua perfettit, implemento immediatamente\",\n    \"Sua beatitudine, sono oltremodo onorata di servir li comodi suoi\",\n    \"Sua eccellenzit, qual onore sentire il suo comando nei miei confronti\",\n    \"O potentissimo, eccellentissimo, reverendissimo, me ne occupo subito\",\n    \"Oh sua divinit, sono umilmente ai suoi servizi\",\n    \"Sua bellissimit, ogni suo desiderio  un ordine\",\n    \"Ale, ferma tuo marito che sta giocando un po' troppo con l'assistente vocale\",\n    \"A, per nun me poi rompe cos le scatole e continu a comand come se fossi nu servo tuo\",\n    \"Ma che mi hai preso per il tuo galoppino? Alzati e usa gli interruttori\"\n];\n\nmsg.payload.command = 0;\nmsg.payload.success = false;\n\n\nvar commandsArray = new Array(5);\nfor (i = 0; i < commandsArray.length; i++){\n    // 0 trash\n    // 1 spegni\n    // 2 accendi\n    // 3 aziona\n    // 4 esegui\n    commandsArray[i] = \"\";\n}\n\nvar command = 0;\n\n// accendi sala corridoio spegni camera salone\n\nfor (i = 0; i < inputArray.length; i++) {\n    switch (inputArray[i]){\n        case \"spegni\":\n            command = 1;\n            break;\n        case \"accendi\":\t\n            command = 2;\n            break;\n        case \"aziona\":\n        case \"attiva\":\n            command = 3;\n            break;\n        case \"esegui\":\t\n            command = 4;\n            break;\n        default:\n\t\t\tcommandsArray[command] += inputArray[i] + \" \";\n\t\t\tbreak;\n\t}\n} \n\nfor (i = 0; i < commandsArray.length; i++){\n    // 0 trash\n    // 1 spegni\n    // 2 accendi\n    // 3 aziona\n    commandsArray[i] = commandsArray[i].trim();\n}\n\nmsg.payload.commands = commandsArray;\nif (commandsArray[0].length > 0){\n    msg.payload.response = \"Sua maest, c' un errore nel comando\";\n}\nelse {\n    msg.payload.success = true;\n    msg.payload.response = successAnswers[Math.floor(Math.random() * successAnswers.length)];\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["f096845b.d48718","25467a53.4439b6","717f3e27.70823"]]},{"id":"f096845b.d48718","type":"function","z":"3be14c38.5b29e4","name":"Put response into payload","func":"msg.payload = msg.payload.response;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["c1c65ebd.0ee6d","95eec772.f05218"]]},{"id":"c1c65ebd.0ee6d","type":"http response","z":"3be14c38.5b29e4","name":"Response","x":1220,"y":200,"wires":[]},{"id":"25467a53.4439b6","type":"debug","z":"3be14c38.5b29e4","name":"Step 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":120,"wires":[]},{"id":"463c035.a3161fc","type":"http request","z":"3be14c38.5b29e4","name":"","method":"POST","ret":"txt","url":"http://192.168.0.103:8080/assistente","tls":"","x":610,"y":880,"wires":[["89ffa8a8.717c98"]]},{"id":"d66f7203.afb13","type":"inject","z":"3be14c38.5b29e4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["993d1deb.fb84b"]]},{"id":"89ffa8a8.717c98","type":"debug","z":"3be14c38.5b29e4","name":"Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":880,"wires":[]},{"id":"993d1deb.fb84b","type":"function","z":"3be14c38.5b29e4","name":"a letto (voce)","func":"msg.payload = { text: \"attiva a letto\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":880,"wires":[["463c035.a3161fc"]]},{"id":"95eec772.f05218","type":"debug","z":"3be14c38.5b29e4","name":"Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":120,"wires":[]},{"id":"62a79cd3.7a8ed4","type":"http in","z":"3be14c38.5b29e4","name":"GET Request","url":"/assistente","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["7c31e7a5.7f72d8","e39daed1.0dc85"]]},{"id":"717f3e27.70823","type":"function","z":"3be14c38.5b29e4","name":"Split commands","func":"    // 0 trash\n    // 1 spegni\n    // 2 accendi\n    // 3 aziona / attiva\n    // 4 esegui\n\nvar trash = {payload: msg.payload.commands[0]};\nvar spegni = {payload: msg.payload.commands[1]};\nvar accendi = {payload: msg.payload.commands[2]};\nvar aziona = {payload: msg.payload.commands[3]};\nvar esegui = {payload: msg.payload.commands[4]};\n\n\nreturn [trash, spegni, accendi, aziona, esegui];","outputs":5,"noerr":0,"x":160,"y":500,"wires":[[],["9e16a78c.c1d418"],["de54f799.93c4c8"],["ca140798.1beb"],[]]},{"id":"de54f799.93c4c8","type":"function","z":"3be14c38.5b29e4","name":"accendi","func":"var newMsg = {};\nnewMsg.payload = 0;\nvar devices = msg.payload.toString();\n\nvar allowedDevices = [\n    \"sala 1\", \n    \"sala 2\", \n    \"sala 3\", \n    \"sala 4\",\n    \"luce esterna\"\n    ];\n\nfor (i = 0; i < allowedDevices.length; i++){\n    if (devices.indexOf(allowedDevices[i]) > -1){\n        devices = devices.replace(allowedDevices[i], \"\");\n        newMsg.topic = allowedDevices[i];\n        node.send(newMsg);\n    }\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["39c0ed17.169ad2","4b635fe4.7e0bc"]]},{"id":"ba685565.aaea78","type":"switch","z":"3be14c38.5b29e4","name":"Switch Device","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sala 1","vt":"str"},{"t":"eq","v":"sala 2","vt":"str"},{"t":"eq","v":"sala 3","vt":"str"},{"t":"eq","v":"sala 4","vt":"str"},{"t":"eq","v":"luce esterna","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1040,"y":480,"wires":[["1c5a50de.9493bf","15fdc0a7.791b0f"],["83ed02f7.3f9ad","15fdc0a7.791b0f"],["623ce1d.2c7422","15fdc0a7.791b0f"],["b2799b9.584f568","15fdc0a7.791b0f"],["7ea1796f.7345b8"]]},{"id":"9e16a78c.c1d418","type":"function","z":"3be14c38.5b29e4","name":"spegni","func":"var newMsg = {};\nnewMsg.payload = 1;\nvar devices = msg.payload.toString();\n\nvar allowedDevices = [\n    \"sala 1\", \n    \"sala 2\", \n    \"sala 3\", \n    \"sala 4\",\n    \"luce esterna\"\n    ];\n\nfor (i = 0; i < allowedDevices.length; i++){\n    if (devices.indexOf(allowedDevices[i]) > -1){\n        devices = devices.replace(allowedDevices[i], \"\");\n        newMsg.topic = allowedDevices[i];\n        node.send(newMsg);\n    }\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":570,"y":480,"wires":[["39c0ed17.169ad2","4b635fe4.7e0bc"]]},{"id":"5515ee76.2736a","type":"debug","z":"3be14c38.5b29e4","name":"comando post coda","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":340,"wires":[]},{"id":"4b635fe4.7e0bc","type":"debug","z":"3be14c38.5b29e4","name":"comando pre coda","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":340,"wires":[]},{"id":"39c0ed17.169ad2","type":"simple-queue","z":"3be14c38.5b29e4","name":"100ms queue","firstMessageBypass":true,"bypassInterval":"100","x":780,"y":480,"wires":[["ba685565.aaea78","5515ee76.2736a"]]},{"id":"1c5a50de.9493bf","type":"link out","z":"3be14c38.5b29e4","name":"","links":["d357350d.d20aa"],"x":1255,"y":420,"wires":[]},{"id":"623ce1d.2c7422","type":"link out","z":"3be14c38.5b29e4","name":"","links":["87e4635b.c9a5b8"],"x":1255,"y":500,"wires":[]},{"id":"b2799b9.584f568","type":"link out","z":"3be14c38.5b29e4","name":"","links":["361e7f3d.986ff"],"x":1255,"y":540,"wires":[]},{"id":"83ed02f7.3f9ad","type":"link out","z":"3be14c38.5b29e4","name":"","links":["f194562d.9d5958"],"x":1255,"y":460,"wires":[]},{"id":"7ea1796f.7345b8","type":"link out","z":"3be14c38.5b29e4","name":"","links":["1493b42e.7f3564"],"x":1255,"y":580,"wires":[]},{"id":"15fdc0a7.791b0f","type":"debug","z":"3be14c38.5b29e4","name":"Uscita","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":340,"wires":[]},{"id":"781daf0.545195","type":"debug","z":"9c7b3d21.9cf5c","name":"interruttore sala 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1132.857177734375,"y":727.7777709960938,"wires":[]},{"id":"99327847.e79308","type":"debug","z":"73e11c37.b818a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":623,"wires":[]},{"id":"d357350d.d20aa","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-sala-1","links":["1c5a50de.9493bf"],"x":55,"y":160,"wires":[["8f4d463e.240a08"]]},{"id":"8f4d463e.240a08","type":"switch","z":"9c7b3d21.9cf5c","name":"voce sala 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":160,"wires":[["3e484bcf.42273c"],["2da0c692.b7714a"]]},{"id":"f194562d.9d5958","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-sala-2","links":["83ed02f7.3f9ad"],"x":55,"y":380,"wires":[["8519c678.5dccf"]]},{"id":"8519c678.5dccf","type":"switch","z":"9c7b3d21.9cf5c","name":"voce sala 2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":380,"wires":[["21ca40d.7e792c"],["d9089e7f.2dcfa8"]]},{"id":"87e4635b.c9a5b8","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-sala-3","links":["623ce1d.2c7422"],"x":55,"y":600,"wires":[["77293dd9.db4f04"]]},{"id":"77293dd9.db4f04","type":"switch","z":"9c7b3d21.9cf5c","name":"voce sala 3","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":600,"wires":[["a31530cc.6c756"],["ae62f2c2.8c2448"]]},{"id":"361e7f3d.986ff","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-sala-4","links":["b2799b9.584f568"],"x":55,"y":980,"wires":[["de89bee3.a7442"]]},{"id":"de89bee3.a7442","type":"switch","z":"9c7b3d21.9cf5c","name":"voce sala 4","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":980,"wires":[["f7ab1616.0d508"],["16bd5864.074b4"]]},{"id":"75b9b9af.5a871","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-luce-esterna","links":[],"x":75,"y":1220,"wires":[["dfd9e1ca.fb99e"]]},{"id":"dfd9e1ca.fb99e","type":"switch","z":"9c7b3d21.9cf5c","name":"voce luce esterna","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1220,"wires":[["5cb0d650.eb45a"],["5c2be418.7f517c"]]},{"id":"1493b42e.7f3564","type":"link in","z":"9c7b3d21.9cf5c","name":"voice-presa-comandata","links":["7ea1796f.7345b8"],"x":115,"y":1600,"wires":[["23e053b0.068ed4"]]},{"id":"23e053b0.068ed4","type":"switch","z":"9c7b3d21.9cf5c","name":"voce presa comandata","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1600,"wires":[["e77081db.97c7a"],["e52ba7e2.5337f8"]]},{"id":"ca140798.1beb","type":"function","z":"3be14c38.5b29e4","name":"aziona/attiva","func":"var newMsg = {};\nnewMsg.payload = 0;\nvar targets = msg.payload.toString();\n\nvar allowedTargets = [\n    \"letto\", \n    \"tv serale\", \n    \"amici casa\", \n    \"intrattenimento\"\n    ];\n\nfor (i = 0; i < allowedTargets.length; i++){\n    if (targets.indexOf(allowedTargets[i]) > -1){\n        targets = targets.replace(allowedTargets[i], \"\");\n        newMsg.topic = allowedTargets[i];\n        node.send(newMsg);\n    }\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["11f7d886.5c960f"]]},{"id":"11f7d886.5c960f","type":"switch","z":"3be14c38.5b29e4","name":"Switch Scenery","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"letto","vt":"str"},{"t":"eq","v":"tv serale","vt":"str"},{"t":"eq","v":"amici casa","vt":"str"},{"t":"eq","v":"intrattenimento","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1040,"y":680,"wires":[["db22985a.55179"],["3d2853a8.a85fe4"],["2bfb3b88.a9aed4"],["b261d47c.c7f09"]]},{"id":"db22985a.55179","type":"link out","z":"3be14c38.5b29e4","name":"","links":["dc050e64.353ee8"],"x":1255,"y":640,"wires":[]},{"id":"3d2853a8.a85fe4","type":"link out","z":"3be14c38.5b29e4","name":"","links":["19bc8912.ec9487"],"x":1255,"y":680,"wires":[]},{"id":"2bfb3b88.a9aed4","type":"link out","z":"3be14c38.5b29e4","name":"","links":["3731785.f078108"],"x":1255,"y":720,"wires":[]},{"id":"b261d47c.c7f09","type":"link out","z":"3be14c38.5b29e4","name":"","links":["f1089a60.93ab4"],"x":1255,"y":760,"wires":[]},{"id":"c4184649.1671a","type":"inject","z":"3be14c38.5b29e4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["c4b9ef74.651fa8"]]},{"id":"c4b9ef74.651fa8","type":"function","z":"3be14c38.5b29e4","name":"Intrattenimento (voce)","func":"msg.payload = { text: \"attiva intrattenimento\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["463c035.a3161fc"]]},{"id":"b200c3de.84f3c8","type":"inject","z":"3be14c38.5b29e4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["ce920105.bf31c8"]]},{"id":"ce920105.bf31c8","type":"function","z":"3be14c38.5b29e4","name":"amici in casa (voce)","func":"msg.payload = { text: \"attiva amici in casa\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":960,"wires":[["463c035.a3161fc"]]},{"id":"d71c0f22.326e98","type":"inject","z":"3be14c38.5b29e4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1000,"wires":[["cf229e7f.3ac6c"]]},{"id":"cf229e7f.3ac6c","type":"function","z":"3be14c38.5b29e4","name":"tv serale (voce)","func":"msg.payload = { text: \"attiva tv serale\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1000,"wires":[["463c035.a3161fc"]]},{"id":"e4cba001.e19608","type":"inject","z":"73e11c37.b818a4","name":"tester","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1400,"wires":[["3c34d40.7e911ac","84548fe2.b4a24"]]},{"id":"56c6ffdd.929ba","type":"delay","z":"73e11c37.b818a4","name":"100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1440,"wires":[["cdc2a727.b1884"]]},{"id":"3c34d40.7e911ac","type":"change","z":"73e11c37.b818a4","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1400,"wires":[["cdc2a727.b1884"]]},{"id":"84548fe2.b4a24","type":"change","z":"73e11c37.b818a4","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1440,"wires":[["56c6ffdd.929ba"]]},{"id":"cdc2a727.b1884","type":"function","z":"73e11c37.b818a4","name":"return","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1420,"wires":[["47822c0e.178ee4"]]},{"id":"282ec124.eb447e","type":"debug","z":"73e11c37.b818a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1480,"wires":[]},{"id":"59f36675.75905","type":"inject","z":"9c7b3d21.9cf5c","name":"SHORT","topic":"","payload":"SHORT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":303,"y":1072,"wires":[["5dd71daf.bbacb4"]]}]